<a href="https://colab.research.google.com/github/Alyssasorensen/sqlite_database_operations/blob/main/sqlite_database_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 Homework Assignment: Introduction to Databases with SQLite

### Loading Packages

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Loading Datasets

In [3]:
sbm = pd.read_csv('https://raw.githubusercontent.com/Alyssasorensen/sqlite_database_operations/main/datasets/113243405_StonyBrookUniversityHospital_standardcharges.csv')

In [4]:
sbm

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.00,12090.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.00,13590.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nyu = pd.read_excel('NYUstandardcharges.xlsx')

In [8]:
nyu

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,NYU Langone Brooklyn,NYU Langone Brooklyn.1,NYU Langone Brooklyn.2,NYU Langone Brooklyn.3,NYU Langone Brooklyn.4,...,NYU Langone Brooklyn.391,NYU Langone Brooklyn.392,NYU Langone Brooklyn.393,NYU Langone Brooklyn.394,NYU Langone Brooklyn.395,NYU Langone Brooklyn.396,NYU Langone Brooklyn.397,NYU Langone Brooklyn.398,Unnamed: 404,Unnamed: 405
0,NaN,NaN,NaN,NaN,NaN,1005,1006,1439,1184,1185,...,3301,1805,1806,1807,1808,1802,2236,1088,NaN,NaN
1,Identifier Code,Billing Code,Identifier Description,NYU Langone Gross Charges,NYU Langone Discounted Cash Price,AETNA HMO,AETNA INDEMNITY,BCBS GHI COMPOSITE,BCBS HMO,BCBS INDEMNITY,...,HEALTHFIRST ESSENTIAL PLAN 1&2,HEALTHFIRST GOLD LEAF EXCHANGE,HEALTHFIRST BRONZE LEAF EXCHANGE,HEALTHFIRST GREEN LEAF EXCHANGE,HEALTHFIRST PLATINUM LEAF EXCHANGE,HEALTHFIRST SILVER LEAF EXCHANGE,"HEALTHFIRST BRONZE TOTAL, PRO, PLUS EPO",HEALTHNET PPO,De-identified Minimum,De-identified Maximum
2,2023696,19120,HC EXC CYST/ABERRANT BREAST TISSUE OPEN 1/> LE...,7750.52,1472.6,9190.33,7750.52,10255,10255,10255,...,1792.32,1792.32,1792.32,1792.32,1792.32,1792.32,1792.32,6277.92,776.73,22768
3,2023358,43235,HC UGI DIAGNOSTIC,3344.09,635.38,3670.36,3344.09,5901,5901,5901,...,975.42,975.42,975.42,975.42,975.42,975.42,975.42,2708.71,248.4,8498
4,2023360,43239,HC UGI W BX. SGL/MULTIPLE,1464.39,278.23,4699.3,1464.39,5901,5901,5901,...,975.42,975.42,975.42,975.42,975.42,975.42,975.42,1186.16,276.43,8195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,6071446,C1771,SINGLE PRECISE MINIARC,21746.5,4131.83,22420.64,21746.5,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,16744.8,16744.8,993.27,22420.64
7416,6079443,C1771,SYS OBTRYX II PRECISIONBLUE DESIGN,23685.06,4500.16,24419.29,23685.06,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,18237.49,18237.49,1081.82,24419.29
7417,6080126,C1771,SLING URETHRAL FIT ADVANTAGE,22200.8,4218.15,22889.02,22200.8,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,17094.61,17094.61,169.51,22889.02
7418,6081272,C1771,SYS SLING RETROPUBIC RETROARC,16761.94,3184.77,17281.56,16761.94,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,12906.69,12906.69,169.51,17281.56
7419,6097061,C1771,ICD EVERA MRI S DR SURESCAN,176455.02,33526.45,181925.13,176455.02,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,135870.37,135870.37,4186.52,181925.13

## 1. Data Exploration and Analysis:

In [9]:
print("Dataset 1 Overview:")
print(sbm.head())
print("Dataset 2 Overview")
print(nyu.head)

Dataset 1 Overview:
    Code                                        Description        Type  \
0  10004  FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...  Outpatient
1  10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
2  10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
3  10006  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
4  10009  FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...  Outpatient

  Package/Line_Level  Gross charge  Discounted cash price  \
0               Line        718.67                 718.67
1               Line       2061.25                2061.25
2            Package       2061.25                2061.25
3               Line        728.54                 728.54
4               Line       2823.01                2823.01

   De-identified min contracted rate  De-identified max contracted rate  \
0                            2155.50                            2155.50
1                              87.02                            4782.00
2                              87.02                            4782.00
3                              58.55                            1761.25
4                             446.28                            6017.59

   Derived contracted rate  1199-Commercial other  ...  \
0                  2155.50                    NaN  ...
1                  2308.44                 2411.0  ...
2                  2308.44                 2411.0  ...
3                   909.90                    NaN  ...
4                  4219.31                 4592.0  ...

   Optum-Commercial other  Oxford-Commercial other  Oxford-Commercial HMO/POS  \
0                     NaN                      NaN                        NaN
1                     NaN                   4782.0                        NaN
2                     NaN                   4782.0                        NaN
3                     NaN                      NaN                        NaN
4                     NaN                      NaN                        NaN

   Tricare-Commercial other  United Healthcare-Commercial other  \
0                       NaN                                 NaN
1                       NaN                             3845.25
2                       NaN                             3845.25
3                       NaN                                 NaN
4                       NaN                             5127.00

   United Healthcare-Medicare Advantage HMO  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

   United Healthcare-Commercial HMO/POS  United Healthcare-Medicaid HMO  \
0                                   NaN                             NaN
1                                   NaN                          658.94
2                                   NaN                          658.94
3                                   NaN                             NaN
4                                   NaN                             NaN

   United Healthcare-Commercial PPO/Open Access  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN

   Veteran Family-Commercial other
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN

[5 rows x 57 columns]
Dataset 2 Overview
<bound method NDFrame.head of            Unnamed: 0    Unnamed: 1  \
0                 NaN           NaN
1     Identifier Code  Billing Code
2             2023696         19120
3             2023358         43235
4             2023360         43239
...               ...           ...
7415          6071446         C1771
7416          6079443         C1771
7417          6080126         C1771
7418          6081272         C1771
7419          6097061         C1771

                                             Unnamed: 2  \
0                                                   NaN
1                                Identifier Description
2     HC EXC CYST/ABERRANT BREAST TISSUE OPEN 1/> LE...
3                                     HC UGI DIAGNOSTIC
4                             HC UGI W BX. SGL/MULTIPLE
...                                                 ...
7415                             SINGLE PRECISE MINIARC
7416                 SYS OBTRYX II PRECISIONBLUE DESIGN
7417                       SLING URETHRAL FIT ADVANTAGE
7418                      SYS SLING RETROPUBIC RETROARC
7419                        ICD EVERA MRI S DR SURESCAN

                     Unnamed: 3                         Unnamed: 4  \
0                           NaN                                NaN
1     NYU Langone Gross Charges  NYU Langone Discounted Cash Price
2                       7750.52                             1472.6
3                       3344.09                             635.38
4                       1464.39                             278.23
...                         ...                                ...
7415                    21746.5                            4131.83
7416                   23685.06                            4500.16
7417                    22200.8                            4218.15
7418                   16761.94                            3184.77
7419                  176455.02                           33526.45

     NYU Langone Brooklyn NYU Langone Brooklyn.1 NYU Langone Brooklyn.2  \
0                    1005                   1006                   1439
1               AETNA HMO        AETNA INDEMNITY     BCBS GHI COMPOSITE
2                 9190.33                7750.52                  10255
3                 3670.36                3344.09                   5901
4                  4699.3                1464.39                   5901
...                   ...                    ...                    ...
7415             22420.64                21746.5                     -1
7416             24419.29               23685.06                     -1
7417             22889.02                22200.8                     -1
7418             17281.56               16761.94                     -1
7419            181925.13              176455.02                     -1

     NYU Langone Brooklyn.3 NYU Langone Brooklyn.4  ...  \
0                      1184                   1185  ...
1                  BCBS HMO         BCBS INDEMNITY  ...
2                     10255                  10255  ...
3                      5901                   5901  ...
4                      5901                   5901  ...
...                     ...                    ...  ...
7415                     -1                     -1  ...
7416                     -1                     -1  ...
7417                     -1                     -1  ...
7418                     -1                     -1  ...
7419                     -1                     -1  ...

            NYU Langone Brooklyn.391        NYU Langone Brooklyn.392  \
0                               3301                            1805
1     HEALTHFIRST ESSENTIAL PLAN 1&2  HEALTHFIRST GOLD LEAF EXCHANGE
2                            1792.32                         1792.32
3                             975.42                          975.42
4                             975.42                          975.42
...                              ...                             ...
7415                             NSP                             NSP
7416                             NSP                             NSP
7417                             NSP                             NSP
7418                             NSP                             NSP
7419                             NSP                             NSP

              NYU Langone Brooklyn.393         NYU Langone Brooklyn.394  \
0                                 1806                             1807
1     HEALTHFIRST BRONZE LEAF EXCHANGE  HEALTHFIRST GREEN LEAF EXCHANGE
2                              1792.32                          1792.32
3                               975.42                           975.42
4                               975.42                           975.42
...                                ...                              ...
7415                               NSP                              NSP
7416                               NSP                              NSP
7417                               NSP                              NSP
7418                               NSP                              NSP
7419                               NSP                              NSP

                NYU Langone Brooklyn.395          NYU Langone Brooklyn.396  \
0                                   1808                              1802
1     HEALTHFIRST PLATINUM LEAF EXCHANGE  HEALTHFIRST SILVER LEAF EXCHANGE
2                                1792.32                           1792.32
3                                 975.42                            975.42
4                                 975.42                            975.42
...                                  ...                               ...
7415                                 NSP                               NSP
7416                                 NSP                               NSP
7417                                 NSP                               NSP
7418                                 NSP                               NSP
7419                                 NSP                               NSP

                     NYU Langone Brooklyn.397 NYU Langone Brooklyn.398  \
0                                        2236                     1088
1     HEALTHFIRST BRONZE TOTAL, PRO, PLUS EPO            HEALTHNET PPO
2                                     1792.32                  6277.92
3                                      975.42                  2708.71
4                                      975.42                  1186.16
...                                       ...                      ...
7415                                  16744.8                  16744.8
7416                                 18237.49                 18237.49
7417                                 17094.61                 17094.61
7418                                 12906.69                 12906.69
7419                                135870.37                135870.37

               Unnamed: 404           Unnamed: 405
0                       NaN                    NaN
1     De-identified Minimum  De-identified Maximum
2                    776.73                  22768
3                     248.4                   8498
4                    276.43                   8195
...                     ...                    ...
7415                 993.27               22420.64
7416                1081.82               24419.29
7417                 169.51               22889.02
7418                 169.51               17281.56
7419                4186.52              181925.13

[7420 rows x 406 columns]>

In [10]:
print("Summary Statistics for Dataset 1:")
print(sbm.describe())
print("Summary Statistics for Dataset 2:")
print(nyu.describe())

Summary Statistics for Dataset 1:
       Gross charge  Discounted cash price  De-identified min contracted rate  \
count  7.710000e+03           7.710000e+03                        6254.000000
mean   2.274832e+04           2.274832e+04                        4090.693876
std    7.470570e+04           7.470570e+04                       10576.213503
min    3.000000e-02           3.000000e-02                           0.010000
25%    1.065895e+03           1.065895e+03                          96.520000
50%    4.745295e+03           4.745295e+03                        1108.860000
75%    1.103881e+04           1.103881e+04                        4309.532500
max    1.857952e+06           1.857952e+06                      327869.690000

       De-identified max contracted rate  Derived contracted rate  \
count                       6.254000e+03              6254.000000
mean                        1.003579e+04              6315.587725
std                         2.915075e+04             14601.846406
min                         1.000000e-01                 0.030000
25%                         6.982500e+02               403.117500
50%                         4.311000e+03              2600.740000
75%                         8.170000e+03              5870.540000
max                         1.302636e+06            370099.900000

       1199-Commercial other  Aetna-Medicare Advantage HMO  \
count            1014.000000                   1106.000000
mean             5791.542456                   5614.005027
std             24302.352403                  12671.487487
min                 0.010000                      1.100000
25%               148.797500                    125.070000
50%               974.400000                    714.860000
75%              4592.000000                   5782.430000
max            331304.280000                 157848.600000

       Aetna-Commercial HMO/POS  Aetna-Commercial PPO/Open Access  \
count               1827.000000                       1612.000000
mean                4320.418248                       4436.188381
std                 8718.537182                       8881.733882
min                    0.020000                          0.500000
25%                  277.900000                        312.750000
50%                 2153.000000                       2153.000000
75%                 4822.000000                       4822.000000
max                99999.990000                      96372.570000

       Aetna-Commercial other  ...  Optum-Commercial other  \
count              128.000000  ...              943.000000
mean              1703.756250  ...            10868.205705
std               5124.232802  ...            20703.429246
min                  0.590000  ...                2.370000
25%                110.387500  ...              200.450000
50%                404.500000  ...             1700.200000
75%               1778.920000  ...            13359.895000
max              54838.130000  ...           277267.380000

       Oxford-Commercial other  Oxford-Commercial HMO/POS  \
count              1777.000000                        0.0
mean               2572.653849                        NaN
std                4036.667401                        NaN
min                   0.010000                        NaN
25%                 197.880000                        NaN
50%                1932.380000                        NaN
75%                4704.000000                        NaN
max               80891.260000                        NaN

       Tricare-Commercial other  United Healthcare-Commercial other  \
count                434.000000                         2357.000000
mean                2070.212120                         5977.464298
std                 8501.228677                        16227.981498
min                    1.000000                            0.010000
25%                   71.220000                          258.500000
50%                  236.230000                         1571.000000
75%                 1486.947500                         5127.000000
max               154940.610000                       291490.750000

       United Healthcare-Medicare Advantage HMO  \
count                                624.000000
mean                                4438.776234
std                                 9982.579323
min                                    1.330000
25%                                   96.290000
50%                                  387.500000
75%                                 3531.920000
max                                92493.910000

       United Healthcare-Commercial HMO/POS  United Healthcare-Medicaid HMO  \
count                            133.000000                     2065.000000
mean                            3261.594586                     2454.314228
std                            10266.478193                    11009.140577
min                                0.190000                        0.010000
25%                              129.000000                       42.980000
50%                              444.000000                      425.790000
75%                             2257.430000                     1753.100000
max                            88051.340000                   327869.690000

       United Healthcare-Commercial PPO/Open Access  \
count                                    357.000000
mean                                     789.416667
std                                     2880.486830
min                                        0.180000
25%                                        8.400000
50%                                       34.830000
75%                                      286.800000
max                                    26350.000000

       Veteran Family-Commercial other
count                        46.000000
mean                        702.261087
std                        1717.006016
min                           2.480000
25%                          26.810000
50%                          82.710000
75%                         235.000000
max                        7195.400000

[8 rows x 53 columns]
Summary Statistics for Dataset 2:
        Unnamed: 0 Unnamed: 1  \
count         7419       7419
unique        7308       1085
top        6106674      C1725
freq            13       2492

                                               Unnamed: 2  Unnamed: 3  \
count                                                7419        7419
unique                                               7294        2399
top     IMPLANT SCREW VARIABLE ANGLE SELF TAPPING HEXA...          -1
freq                                                   13         308

        Unnamed: 4  NYU Langone Brooklyn  NYU Langone Brooklyn.1  \
count         7419                  7420                    7420
unique        2378                  2380                    2400
top             -1                    -1                      -1
freq           308                   308                     308

        NYU Langone Brooklyn.2  NYU Langone Brooklyn.3  \
count                     7420                    7420
unique                     623                     623
top                         -1                      -1
freq                      6347                    6347

        NYU Langone Brooklyn.4  ...  NYU Langone Brooklyn.391  \
count                     7420  ...                      7420
unique                     623  ...                       389
top                         -1  ...                       NSP
freq                      6347  ...                      6320

        NYU Langone Brooklyn.392  NYU Langone Brooklyn.393  \
count                       7420                      7420
unique                       389                       389
top                          NSP                       NSP
freq                        6320                      6320

        NYU Langone Brooklyn.394  NYU Langone Brooklyn.395  \
count                       7420                      7420
unique                       389                       389
top                          NSP                       NSP
freq                        6320                      6320

        NYU Langone Brooklyn.396  NYU Langone Brooklyn.397  \
count                       7420                      7420
unique                       391                      2054
top                          NSP                        -1
freq                        6320                       537

       NYU Langone Brooklyn.398  Unnamed: 404  Unnamed: 405
count                      7420       7419.00       7419.00
unique                     2405       2362.00       2581.00
top                          -1        117.55       2653.33
freq                        308        186.00        178.00

[4 rows x 406 columns]

### Cleaning Data and Handling Missing Values

In [11]:
def clean_column_names(sbm):
    # Define a helper function to clean column names
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    # Rename columns using the helper function
    # This is using a list comprehend - e.g., we have a list to the right of the equals sign,
    # and inside the list, we are applying our function, for every col (or X) that exists in df.columns
    sbm.columns = [clean_name(col) for col in sbm.columns]
    return sbm

# Apply the clean_value function to all columns
sbm = clean_column_names(sbm)

sbm

,code,description,type,packagelinelevel,grosscharge,discountedcashprice,deidentifiedmincontractedrate,deidentifiedmaxcontractedrate,derivedcontractedrate,1199commercialother,...,optumcommercialother,oxfordcommercialother,oxfordcommercialhmopos,tricarecommercialother,unitedhealthcarecommercialother,unitedhealthcaremedicareadvantagehmo,unitedhealthcarecommercialhmopos,unitedhealthcaremedicaidhmo,unitedhealthcarecommercialppoopenaccess,veteranfamilycommercialother
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.00,12090.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.00,13590.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def clean_column_names(nyu):
    # Define a helper function to clean column names
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    # Rename columns using the helper function
    # This is using a list comprehend - e.g., we have a list to the right of the equals sign,
    # and inside the list, we are applying our function, for every col (or X) that exists in df.columns
    nyu.columns = [clean_name(col) for col in nyu.columns]
    return nyu

# Apply the clean_value function to all columns
nyu = clean_column_names(nyu)

nyu

,unnamed0,unnamed1,unnamed2,unnamed3,unnamed4,nyulangonebrooklyn,nyulangonebrooklyn1,nyulangonebrooklyn2,nyulangonebrooklyn3,nyulangonebrooklyn4,...,nyulangonebrooklyn391,nyulangonebrooklyn392,nyulangonebrooklyn393,nyulangonebrooklyn394,nyulangonebrooklyn395,nyulangonebrooklyn396,nyulangonebrooklyn397,nyulangonebrooklyn398,unnamed404,unnamed405
0,NaN,NaN,NaN,NaN,NaN,1005,1006,1439,1184,1185,...,3301,1805,1806,1807,1808,1802,2236,1088,NaN,NaN
1,Identifier Code,Billing Code,Identifier Description,NYU Langone Gross Charges,NYU Langone Discounted Cash Price,AETNA HMO,AETNA INDEMNITY,BCBS GHI COMPOSITE,BCBS HMO,BCBS INDEMNITY,...,HEALTHFIRST ESSENTIAL PLAN 1&2,HEALTHFIRST GOLD LEAF EXCHANGE,HEALTHFIRST BRONZE LEAF EXCHANGE,HEALTHFIRST GREEN LEAF EXCHANGE,HEALTHFIRST PLATINUM LEAF EXCHANGE,HEALTHFIRST SILVER LEAF EXCHANGE,"HEALTHFIRST BRONZE TOTAL, PRO, PLUS EPO",HEALTHNET PPO,De-identified Minimum,De-identified Maximum
2,2023696,19120,HC EXC CYST/ABERRANT BREAST TISSUE OPEN 1/> LE...,7750.52,1472.6,9190.33,7750.52,10255,10255,10255,...,1792.32,1792.32,1792.32,1792.32,1792.32,1792.32,1792.32,6277.92,776.73,22768
3,2023358,43235,HC UGI DIAGNOSTIC,3344.09,635.38,3670.36,3344.09,5901,5901,5901,...,975.42,975.42,975.42,975.42,975.42,975.42,975.42,2708.71,248.4,8498
4,2023360,43239,HC UGI W BX. SGL/MULTIPLE,1464.39,278.23,4699.3,1464.39,5901,5901,5901,...,975.42,975.42,975.42,975.42,975.42,975.42,975.42,1186.16,276.43,8195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7415,6071446,C1771,SINGLE PRECISE MINIARC,21746.5,4131.83,22420.64,21746.5,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,16744.8,16744.8,993.27,22420.64
7416,6079443,C1771,SYS OBTRYX II PRECISIONBLUE DESIGN,23685.06,4500.16,24419.29,23685.06,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,18237.49,18237.49,1081.82,24419.29
7417,6080126,C1771,SLING URETHRAL FIT ADVANTAGE,22200.8,4218.15,22889.02,22200.8,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,17094.61,17094.61,169.51,22889.02
7418,6081272,C1771,SYS SLING RETROPUBIC RETROARC,16761.94,3184.77,17281.56,16761.94,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,12906.69,12906.69,169.51,17281.56
7419,6097061,C1771,ICD EVERA MRI S DR SURESCAN,176455.02,33526.45,181925.13,176455.02,-1,-1,-1,...,NSP,NSP,NSP,NSP,NSP,NSP,135870.37,135870.37,4186.52,181925.13

In [13]:
print("Missing Values in Dataset 1:")
print(sbm.isnull().sum())

Missing Values in Dataset 1:
code                                          0
description                                   0
type                                        783
packagelinelevel                            783
grosscharge                                   0
discountedcashprice                           0
deidentifiedmincontractedrate              1456
deidentifiedmaxcontractedrate              1456
derivedcontractedrate                      1456
1199commercialother                        6696
aetnamedicareadvantagehmo                  6604
aetnacommercialhmopos                      5883
aetnacommercialppoopenaccess               6098
aetnacommercialother                       7582
empirehealthcommercialother                4650
empirehealthcommercialppoopenaccess        5308
bluecrossblueshieldcommercialother         6456
beaconhealthcommercialother                7707
carelonhealthcommercialother               7707
cignacommercialppoopenaccess               5744
cignacommercialother                       7667
cignacommercialhmopos                      7704
ehfacetcommercialother                     7710
emblemhealthcommercialppoopenaccess        6964
emblemhealthcommercialother                5640
emblemhealthcommercialhmopos               6324
emblemhealthmedicaidhmo                    7710
emblemhealthmedicareadvantagehmo           7710
empirehealthcommercialhmopos               6031
empirehealthmedicareadvantagehmo           6636
empirehealthmedicaidhmo                    7708
evernorthcommercialother                   7702
fideliscommercialother                     6790
fidelismedicareadvantagehmo                7442
fidelismedicaidhmo                         5353
ghicommercialother                         7710
healthfirstcommercialother                 5634
healthfirstmedicareadvantagehmo            7608
healthfirstmedicaidhmo                     7710
healthplushpmedicaidhmo                    6920
healthplushpcommercialother                7413
healthplushpmedicareadvantagehmo           7005
humanacommercialother                      7677
humanacommercialhmopos                     7463
humanacommercialppoopenaccess              7236
meritainhealthcommercialother              7260
molinacommercialother                      6963
optumcommercialother                       6767
oxfordcommercialother                      5933
oxfordcommercialhmopos                     7710
tricarecommercialother                     7276
unitedhealthcarecommercialother            5353
unitedhealthcaremedicareadvantagehmo       7086
unitedhealthcarecommercialhmopos           7577
unitedhealthcaremedicaidhmo                5645
unitedhealthcarecommercialppoopenaccess    7353
veteranfamilycommercialother               7664
dtype: int64

In [14]:
print("Missing Values in Dataset 2:")
print(nyu.isnull().sum())

Missing Values in Dataset 2:
unnamed0                 1
unnamed1                 1
unnamed2                 1
unnamed3                 1
unnamed4                 1
                        ..
nyulangonebrooklyn396    0
nyulangonebrooklyn397    0
nyulangonebrooklyn398    0
unnamed404               1
unnamed405               1
Length: 406, dtype: int64

### Basic Statistics SBM

In [15]:
# Example: Frequency counts for a categorical column 'Description' in Dataset 1
print("Frequency Counts for 'Description' in Dataset 1:")
print(sbm['description'].value_counts())

Frequency Counts for 'Description' in Dataset 1:
R&B MED 05CA SEMI-PRIVATE/2                                                                   3
R&B SHA 05PS/11PS SEMI-PRIVATE                                                                3
DESTRUCTION OF FIRST DIVISION OF FACE NERVE BRANCH                                            2
INJECTION OF CHEMICAL FOR PARALYSIS OF SALIVARY GLANDS ON BOTH SIDES OF MOUTH                 2
INJECTION OF CHEMICAL FOR PARALYSIS OF FACIAL AND NECK NERVE MUSCLES ON BOTH SIDES OF FACE    2
                                                                                             ..
ANCHOR/SCREW FOR OPPOSING BONE-TO-BONE OR SOFT TISSUE-TO-BONE (IMPLANTABLE)                   1
BRACHYTHERAPY NEEDLE                                                                          1
CARDIOVERTER-DEFIBRILLATOR, DUAL CHAMBER (IMPLANTABLE)                                        1
CARDIOVERTER-DEFIBRILLATOR, SINGLE CHAMBER (IMPLANTABLE)                                      1
SEMI-PRIVATE                                                                                  1
Name: description, Length: 5449, dtype: int64

In [70]:
# List of numerical columns to calculate central tendency measures for
numerical_columns = [
    "grosscharge",
    "discountedcashprice",
    "deidentifiedmincontractedrate",
    "deidentifiedmaxcontractedrate",
    "derivedcontractedrate",
    "1199commercialother",
    "aetnamedicareadvantagehmo",
    "aetnacommercialhmopos",
    "aetnacommercialppoopenaccess",
    "aetnacommercialother",
    "empirehealthcommercialother",
    "empirehealthcommercialppoopenaccess",
    "bluecrossblueshieldcommercialother",
    "beaconhealthcommercialother",
    "carelonhealthcommercialother",
    "cignacommercialppoopenaccess",
    "cignacommercialother",
    "cignacommercialhmopos",
    "ehfacetcommercialother",
    "emblemhealthcommercialppoopenaccess",
    "emblemhealthcommercialother",
    "emblemhealthcommercialhmopos",
    "emblemhealthmedicaidhmo",
    "emblemhealthmedicareadvantagehmo",
    "empirehealthcommercialhmopos",
]

# Calculate mean, median, and mode for each numerical column
central_tendency_measures = {}
for column in numerical_columns:
    mean = sbm[column].mean()
    median = sbm[column].median()
    mode = sbm[column].mode()
    central_tendency_measures[column] = {
        "Mean": mean,
        "Median": median,
        "Mode": mode,
    }

# Display the central tendency measures
central_tendency_df = pd.DataFrame(central_tendency_measures)
print(central_tendency_df)

                                          grosscharge  \
Mean                                     22748.319449
Median                                       4745.295
Mode    0    8165.0
Name: grosscharge, dtype: float64

                                      discountedcashprice  \
Mean                                         22748.319449
Median                                           4745.295
Mode    0    8165.0
Name: discountedcashprice, dtype: ...

                            deidentifiedmincontractedrate  \
Mean                                          4090.693876
Median                                            1108.86
Mode    0    6050.0
Name: deidentifiedmincontractedrat...

                            deidentifiedmaxcontractedrate  \
Mean                                         10035.793743
Median                                             4311.0
Mode    0    6050.0
Name: deidentifiedmaxcontractedrat...

                                    derivedcontractedrate  \
Mean                                          6315.587725
Median                                            2600.74
Mode    0    6050.0
Name: derivedcontractedrate, dtype...

                                      1199commercialother  \
Mean                                          5791.542456
Median                                              974.4
Mode    0    4822.0
Name: 1199commercialother, dtype: ...

                                aetnamedicareadvantagehmo  \
Mean                                          5614.005027
Median                                             714.86
Mode    0    125.07
Name: aetnamedicareadvantagehmo, d...

                                    aetnacommercialhmopos  \
Mean                                          4320.418248
Median                                             2153.0
Mode    0    4822.0
Name: aetnacommercialhmopos, dtype...

                             aetnacommercialppoopenaccess  \
Mean                                          4436.188381
Median                                             2153.0
Mode    0    4822.0
Name: aetnacommercialppoopenaccess...

                                     aetnacommercialother  ...  \
Mean                                           1703.75625  ...
Median                                              404.5  ...
Mode    0    2153.0
1    4822.0
Name: aetnacommercialo...  ...

                             cignacommercialppoopenaccess  \
Mean                                          3554.505941
Median                                              953.5
Mode    0    5241.41
Name: cignacommercialppoopenacces...

                                     cignacommercialother  \
Mean                                          1462.843721
Median                                             904.95
Mode    0    1654.0
Name: cignacommercialother, dtype:...

                                    cignacommercialhmopos  \
Mean                                          4857.191667
Median                                            833.835
Mode    0    1654.0
Name: cignacommercialhmopos, dtype...

                                   ehfacetcommercialother  \
Mean                                                  NaN
Median                                                NaN
Mode    Series([], Name: ehfacetcommercialother, dtype...

                      emblemhealthcommercialppoopenaccess  \
Mean                                          1158.301595
Median                                             441.73
Mode    0    1791.35
Name: emblemhealthcommercialppoop...

                              emblemhealthcommercialother  \
Mean                                           4666.74858
Median                                             759.36
Mode    0    1648.66
Name: emblemhealthcommercialother...

                             emblemhealthcommercialhmopos  \
Mean                                           9933.49399
Median                                            2239.22
Mode    0    6017.59
Name: emblemhealthcommercialhmopo...

                                  emblemhealthmedicaidhmo  \
Mean                                                  NaN
Median                                                NaN
Mode    Series([], Name: emblemhealthmedicaidhmo, dtyp...

                         emblemhealthmedicareadvantagehmo  \
Mean                                                  NaN
Median                                                NaN
Mode    Series([], Name: emblemhealthmedicareadvantage...

                             empirehealthcommercialhmopos
Mean                                          3486.444449
Median                                            1957.67
Mode    0    5270.0
Name: empirehealthcommercialhmopos...

[3 rows x 25 columns]

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [71]:
# List of numerical columns to calculate central tendency measures for
numerical_columns = [
    "empirehealthmedicareadvantagehmo",
    "empirehealthmedicaidhmo",
    "evernorthcommercialother",
    "fideliscommercialother",
    "fidelismedicareadvantagehmo",
    "fidelismedicaidhmo",
    "ghicommercialother",
    "healthfirstcommercialother",
    "healthfirstmedicareadvantagehmo",
    "healthfirstmedicaidhmo",
    "healthplushpmedicaidhmo",
    "healthplushpcommercialother",
    "healthplushpmedicareadvantagehmo",
    "humanacommercialother",
    "humanacommercialhmopos",
    "humanacommercialppoopenaccess",
    "meritainhealthcommercialother",
    "molinacommercialother",
    "optumcommercialother",
    "oxfordcommercialother",
    "oxfordcommercialhmopos",
    "tricarecommercialother",
    "unitedhealthcarecommercialother",
    "unitedhealthcaremedicareadvantagehmo",
    "unitedhealthcarecommercialhmopos",
    "unitedhealthcaremedicaidhmo",
    "unitedhealthcarecommercialppoopenaccess",
    "veteranfamilycommercialother",
]
# Calculate mean, median, and mode for each numerical column
central_tendency_measures = {}
for column in numerical_columns:
    mean = sbm[column].mean()
    median = sbm[column].median()
    mode = sbm[column].mode()
    central_tendency_measures[column] = {
        "Mean": mean,
        "Median": median,
        "Mode": mode,
    }

# Display the central tendency measures
central_tendency_df = pd.DataFrame(central_tendency_measures)
print(central_tendency_df)

                         empirehealthmedicareadvantagehmo  \
Mean                                          5846.313678
Median                                             570.35
Mode    0    125.07
Name: empirehealthmedicareadvantag...

                                  empirehealthmedicaidhmo  \
Mean                                              6943.79
Median                                            6943.79
Mode    0    6122.75
1    7764.83
Name: empirehealthme...

                                 evernorthcommercialother  \
Mean                                              133.245
Median                                            138.105
Mode    0     55.92
1    102.98
2    106.39
3    136.4...

                                   fideliscommercialother  \
Mean                                           2462.66825
Median                                              200.0
Mode    0    300.0
Name: fideliscommercialother, dtype...

                              fidelismedicareadvantagehmo  \
Mean                                          2978.518284
Median                                              218.3
Mode    0    125.07
Name: fidelismedicareadvantagehmo,...

                                       fidelismedicaidhmo  \
Mean                                          2825.512995
Median                                             397.64
Mode    0     577.45
1    3311.64
Name: fidelismedicai...

                                       ghicommercialother  \
Mean                                                  NaN
Median                                                NaN
Mode    Series([], Name: ghicommercialother, dtype: fl...

                               healthfirstcommercialother  \
Mean                                          2612.960409
Median                                              94.25
Mode    0     5.03
1    10.50
Name: healthfirstcommerc...

                          healthfirstmedicareadvantagehmo  \
Mean                                          1456.295784
Median                                            181.025
Mode    0    125.07
Name: healthfirstmedicareadvantage...

                                   healthfirstmedicaidhmo  ...  \
Mean                                                  NaN  ...
Median                                                NaN  ...
Mode    Series([], Name: healthfirstmedicaidhmo, dtype...  ...

                                     optumcommercialother  \
Mean                                         10868.205705
Median                                             1700.2
Mode    0    125.07
Name: optumcommercialother, dtype:...

                                    oxfordcommercialother  \
Mean                                          2572.653849
Median                                            1932.38
Mode    0    4782.0
Name: oxfordcommercialother, dtype...

                                   oxfordcommercialhmopos  \
Mean                                                  NaN
Median                                                NaN
Mode    Series([], Name: oxfordcommercialhmopos, dtype...

                                   tricarecommercialother  \
Mean                                           2070.21212
Median                                             236.23
Mode    0    125.07
Name: tricarecommercialother, dtyp...

                          unitedhealthcarecommercialother  \
Mean                                          5977.464298
Median                                             1571.0
Mode    0    5127.0
Name: unitedhealthcarecommercialot...

                     unitedhealthcaremedicareadvantagehmo  \
Mean                                          4438.776234
Median                                              387.5
Mode    0    125.07
Name: unitedhealthcaremedicareadva...

                         unitedhealthcarecommercialhmopos  \
Mean                                          3261.594586
Median                                              444.0
Mode    0    5127.0
Name: unitedhealthcarecommercialhm...

                              unitedhealthcaremedicaidhmo  \
Mean                                          2454.314228
Median                                             425.79
Mode    0    500.0
Name: unitedhealthcaremedicaidhmo, ...

                  unitedhealthcarecommercialppoopenaccess  \
Mean                                           789.416667
Median                                              34.83
Mode    0    3.25
Name: unitedhealthcarecommercialppoo...

                             veteranfamilycommercialother
Mean                                           702.261087
Median                                              82.71
Mode    0    125.07
Name: veteranfamilycommercialother...

[3 rows x 28 columns]

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [72]:
sbm_grosscharge_mean = sbm['grosscharge'].mean()
sbm_grosscharge_median = sbm['grosscharge'].median()
sbm_grosscharge_mode = sbm['grosscharge'].mode().values[0]

In [73]:
sbm_grosscharge_range = sbm['grosscharge'].max() - sbm['grosscharge'].min()
sbm_grosscharge_var = sbm['grosscharge'].var()
sbm_grosscharge_std= sbm['grosscharge'].std()
sbm_grosscharge_iqr = sbm['grosscharge'].quantile(0.75) - sbm['grosscharge'].quantile(0.25)

In [74]:
print("Measures of Central Tendency:")
print(f"Mean: {sbm_grosscharge_mean}")
print(f"Median: {sbm_grosscharge_median}")
print(f"Mode: {sbm_grosscharge_mode}")
print("\nMeasures of Spread:")
print(f"Range: {sbm_grosscharge_range}")
print(f"Variance: {sbm_grosscharge_var}")
print(f"Standard Deviation: {sbm_grosscharge_std}")
print(f"IQR (Interquartile Range): {sbm_grosscharge_iqr}")

Measures of Central Tendency:
Mean: 22748.319448767834
Median: 4745.295
Mode: 8165.0

Measures of Spread:
Range: 1857952.41
Variance: 5580942100.484088
Standard Deviation: 74705.70326611007
IQR (Interquartile Range): 9972.9175

In [20]:
sbm_aetnacommercialhmopos_mean = sbm['aetnacommercialhmopos'].mean()


sbm_aetnacommercialhmopos_median = sbm['aetnacommercialhmopos'].median()


sbm_aetnacommercialhmopos_mode = sbm['aetnacommercialhmopos'].mode().values[0]


sbm_aetnacommercialhmopos_range = sbm['aetnacommercialhmopos'].max() - sbm['aetnacommercialhmopos'].min()
sbm_aetnacommercialhmopos_var = sbm['aetnacommercialhmopos'].var()
sbm_aetnacommercialhmopos_std= sbm['aetnacommercialhmopos'].std()
sbm_aetnacommercialhmopos_iqr = sbm['aetnacommercialhmopos'].quantile(0.75) - sbm['aetnacommercialhmopos'].quantile(0.25)


print("Measures of Central Tendency:")
print(f"Mean: {sbm_aetnacommercialhmopos_mean}")
print(f"Median: {sbm_aetnacommercialhmopos_median}")
print(f"Mode: {sbm_aetnacommercialhmopos_mode}")
print("\nMeasures of Spread:")
print(f"Range: {sbm_aetnacommercialhmopos_range}")
print(f"Variance: {sbm_aetnacommercialhmopos_var}")
print(f"Standard Deviation: {sbm_aetnacommercialhmopos_std}")
print(f"IQR (Interquartile Range): {sbm_aetnacommercialhmopos_iqr}")

Measures of Central Tendency:
Mean: 4320.4182484948005
Median: 2153.0
Mode: 4822.0

Measures of Spread:
Range: 99999.97
Variance: 76012890.5927689
Standard Deviation: 8718.537181934185
IQR (Interquartile Range): 4544.1

In [21]:
print (sbm['code'].value_counts())

73521       2
64600       2
64454       2
64461       2
64483       2
           ..
C1727       1
C1728       1
C1729       1
C1730       1
30000004    1
Name: code, Length: 5474, dtype: int64

In [22]:
print (sbm['description'].value_counts())

R&B MED 05CA SEMI-PRIVATE/2                                                                   3
R&B SHA 05PS/11PS SEMI-PRIVATE                                                                3
DESTRUCTION OF FIRST DIVISION OF FACE NERVE BRANCH                                            2
INJECTION OF CHEMICAL FOR PARALYSIS OF SALIVARY GLANDS ON BOTH SIDES OF MOUTH                 2
INJECTION OF CHEMICAL FOR PARALYSIS OF FACIAL AND NECK NERVE MUSCLES ON BOTH SIDES OF FACE    2
                                                                                             ..
ANCHOR/SCREW FOR OPPOSING BONE-TO-BONE OR SOFT TISSUE-TO-BONE (IMPLANTABLE)                   1
BRACHYTHERAPY NEEDLE                                                                          1
CARDIOVERTER-DEFIBRILLATOR, DUAL CHAMBER (IMPLANTABLE)                                        1
CARDIOVERTER-DEFIBRILLATOR, SINGLE CHAMBER (IMPLANTABLE)                                      1
SEMI-PRIVATE                                                                                  1
Name: description, Length: 5449, dtype: int64

In [96]:
print (sbm['type'].value_counts())

Outpatient    6041
Inpatient      886
Name: type, dtype: int64

In [23]:
print (sbm['packagelinelevel'].value_counts())

Line       4691
Package    2236
Name: packagelinelevel, dtype: int64

### Basic Statistics for NYU

In [16]:
# Example: Frequency counts for a categorical column 'nyulangonebrooklyn398' in Dataset 2
print("Frequency Counts for 'nyulangonebrooklyn398' in Dataset 2:")
print(nyu['nyulangonebrooklyn398'].value_counts())

Frequency Counts for 'nyulangonebrooklyn398' in Dataset 2:
-1.00         308
 1981.63      196
 990.82       159
 1512.30      152
 1877.34      123
             ...
 32196.33       1
 4557.76        1
 456.92         1
 2133.59        1
 135870.37      1
Name: nyulangonebrooklyn398, Length: 2405, dtype: int64

## 2. SQLite Database Operations:

In [16]:
## Create a new blank database using sqlite3

conn = sqlite3.connect('costs.db')
c = conn.cursor()

In [17]:
## Create a new table called 'stonybrook' and load in the data from stonybrook_modified
## Manually create the schema based on the data types in stonybrook_modified

c.execute('''CREATE TABLE stonybrook
                (
                    [hospital_name] text,
                    [insurance_type] text,
                    [code] text,
                    [code_description] text,
                    [cost_negotiated] real,
                    [cost_minimum] real,
                    [cost_maximum] real
                )''')

conn.commit()

In [18]:
## Now print out the table names from the database to make sure it worked

c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')

for value in c.fetchall():
    print(value)

('stonybrook',)

In [19]:
## Now perform a Select * on the table to make sure it worked and it returns no values

c.execute('''SELECT * FROM stonybrook''')
print(c.fetchall())

[]

In [20]:
## Now perform the same query in pandas to make sure it worked

pd.read_sql('''SELECT * FROM stonybrook''', conn)

Empty DataFrame
Columns: [hospital_name, insurance_type, code, code_description, cost_negotiated, cost_minimum, cost_maximum]
Index: []