<a href="https://colab.research.google.com/github/Alyssasorensen/sqlite_database_operations/blob/main/sqlite_database_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 Homework Assignment: Introduction to Databases with SQLite

### Loading Packages

In [109]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Loading Datasets

In [110]:
sbm = pd.read_csv('https://raw.githubusercontent.com/Alyssasorensen/sqlite_database_operations/main/datasets/113243405_StonyBrookUniversityHospital_standardcharges.csv')

In [111]:
sbm

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.00,12090.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.00,13590.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
# Load the dataset from the URL with specified encoding
url = "https://raw.githubusercontent.com/Alyssasorensen/sqlite_database_operations/main/datasets/596014973_Memorial_Hospital_Miramar_StandardCharges.csv"
memorial = pd.read_csv(url, encoding="ISO-8859-1")

# Now we can work with the 'memorial' DataFrame

In [114]:
memorial

,1,CDM GROSS CHARGE AND CASH PAY SECTION,ProcedureCode,ProcedureDescription,Lawson Number,NDC,Revenue Code,CPT Code,Unnamed: 8,Default Charge,ER Charge,Inpatient Therapy,Cash Charge
0,2,11000004,11000004,HC PRIVATE MOST COMMON,NaN,NaN,110.0,NaN,NaN,-,-,-,-
1,3,11000004,11000004,HC PRIVATE MOST COMMON MRHS,NaN,NaN,110.0,NaN,NaN,NaN,-,-,-
2,4,12000005,12000005,HC SEMI-PRIVATE OBSTETRICS,NaN,NaN,120.0,NaN,NaN,"2,445",-,-,978
3,5,12000005,12000005,HC SEMI-PRIVATE OBSTETRICS MRHS,NaN,NaN,120.0,NaN,NaN,NaN,-,-,-
4,6,12300001,12300001,HC SEMI-PRIVATE PEDS,NaN,NaN,123.0,NaN,NaN,"2,311",-,-,924
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7752,7757,27264245,27264245,DRESSING TEGADERM 6 X 8,NaN,NaN,272.0,NaN,NaN,-,-,-,-
7753,7758,27264248,27264248,DRUG HEMOSTATIC EVICEL L45 CM FLEXIBLE TIP,0900-06297,NaN,272.0,NaN,NaN,250,-,-,100
7754,7759,27264255,27264255,FILTER SUCTION PSI-TEC ABSOLUTE DISPOSABLE,0900-06306,NaN,272.0,NaN,NaN,255,-,-,102
7755,7760,27264263,27264263,CARTRIDGE GRASPER BABCOCK L45 CM OD5 MM DIRECT...,0900-06304,NaN,272.0,NaN,NaN,332,-,-,133
7756,7761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. Data Exploration and Analysis:

In [115]:
print("Dataset 1 Overview:")
print(sbm.head())
print("Dataset 2 Overview")
print(memorial.head)

Dataset 1 Overview:
    Code                                        Description        Type  \
0  10004  FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...  Outpatient
1  10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
2  10005  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
3  10006  FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...  Outpatient
4  10009  FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...  Outpatient

  Package/Line_Level  Gross charge  Discounted cash price  \
0               Line        718.67                 718.67
1               Line       2061.25                2061.25
2            Package       2061.25                2061.25
3               Line        728.54                 728.54
4               Line       2823.01                2823.01

   De-identified min contracted rate  De-identified max contracted rate  \
0                            2155.50                            2155.50
1                              87.02                            4782.00
2                              87.02                            4782.00
3                              58.55                            1761.25
4                             446.28                            6017.59

   Derived contracted rate  1199-Commercial other  ...  \
0                  2155.50                    NaN  ...
1                  2308.44                 2411.0  ...
2                  2308.44                 2411.0  ...
3                   909.90                    NaN  ...
4                  4219.31                 4592.0  ...

   Optum-Commercial other  Oxford-Commercial other  Oxford-Commercial HMO/POS  \
0                     NaN                      NaN                        NaN
1                     NaN                   4782.0                        NaN
2                     NaN                   4782.0                        NaN
3                     NaN                      NaN                        NaN
4                     NaN                      NaN                        NaN

   Tricare-Commercial other  United Healthcare-Commercial other  \
0                       NaN                                 NaN
1                       NaN                             3845.25
2                       NaN                             3845.25
3                       NaN                                 NaN
4                       NaN                             5127.00

   United Healthcare-Medicare Advantage HMO  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

   United Healthcare-Commercial HMO/POS  United Healthcare-Medicaid HMO  \
0                                   NaN                             NaN
1                                   NaN                          658.94
2                                   NaN                          658.94
3                                   NaN                             NaN
4                                   NaN                             NaN

   United Healthcare-Commercial PPO/Open Access  \
0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN

   Veteran Family-Commercial other
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN

[5 rows x 57 columns]
Dataset 2 Overview
<bound method NDFrame.head of          1 CDM GROSS CHARGE AND CASH PAY SECTION ProcedureCode  \
0        2                              11000004      11000004
1        3                              11000004      11000004
2        4                              12000005      12000005
3        5                              12000005      12000005
4        6                              12300001      12300001
...    ...                                   ...           ...
7752  7757                              27264245      27264245
7753  7758                              27264248      27264248
7754  7759                              27264255      27264255
7755  7760                              27264263      27264263
7756  7761                                   NaN           NaN

                                   ProcedureDescription Lawson Number  NDC  \
0                                HC PRIVATE MOST COMMON           NaN  NaN
1                           HC PRIVATE MOST COMMON MRHS           NaN  NaN
2                            HC SEMI-PRIVATE OBSTETRICS           NaN  NaN
3                       HC SEMI-PRIVATE OBSTETRICS MRHS           NaN  NaN
4                                  HC SEMI-PRIVATE PEDS           NaN  NaN
...                                                 ...           ...  ...
7752                            DRESSING TEGADERM 6 X 8           NaN  NaN
7753         DRUG HEMOSTATIC EVICEL L45 CM FLEXIBLE TIP    0900-06297  NaN
7754         FILTER SUCTION PSI-TEC ABSOLUTE DISPOSABLE    0900-06306  NaN
7755  CARTRIDGE GRASPER BABCOCK L45 CM OD5 MM DIRECT...    0900-06304  NaN
7756                                                NaN           NaN  NaN

      Revenue Code CPT Code  Unnamed: 8  Default Charge   ER Charge   \
0            110.0      NaN         NaN             -           -
1            110.0      NaN         NaN              NaN        -
2            120.0      NaN         NaN            2,445        -
3            120.0      NaN         NaN              NaN        -
4            123.0      NaN         NaN            2,311        -
...            ...      ...         ...              ...         ...
7752         272.0      NaN         NaN             -           -
7753         272.0      NaN         NaN              250        -
7754         272.0      NaN         NaN              255        -
7755         272.0      NaN         NaN              332        -
7756           NaN      NaN         NaN              NaN         NaN

      Inpatient Therapy  Cash Charge
0                   -           -
1                   -           -
2                   -            978
3                   -           -
4                   -            924
...                  ...         ...
7752                -           -
7753                -            100
7754                -            102
7755                -            133
7756                 NaN         NaN

[7757 rows x 13 columns]>

In [116]:
print("Summary Statistics for Dataset 1:")
print(sbm.describe())
print("Summary Statistics for Dataset 2:")
print(memorial.describe())

Summary Statistics for Dataset 1:
       Gross charge  Discounted cash price  De-identified min contracted rate  \
count  7.710000e+03           7.710000e+03                        6254.000000
mean   2.274832e+04           2.274832e+04                        4090.693876
std    7.470570e+04           7.470570e+04                       10576.213503
min    3.000000e-02           3.000000e-02                           0.010000
25%    1.065895e+03           1.065895e+03                          96.520000
50%    4.745295e+03           4.745295e+03                        1108.860000
75%    1.103881e+04           1.103881e+04                        4309.532500
max    1.857952e+06           1.857952e+06                      327869.690000

       De-identified max contracted rate  Derived contracted rate  \
count                       6.254000e+03              6254.000000
mean                        1.003579e+04              6315.587725
std                         2.915075e+04             14601.846406
min                         1.000000e-01                 0.030000
25%                         6.982500e+02               403.117500
50%                         4.311000e+03              2600.740000
75%                         8.170000e+03              5870.540000
max                         1.302636e+06            370099.900000

       1199-Commercial other  Aetna-Medicare Advantage HMO  \
count            1014.000000                   1106.000000
mean             5791.542456                   5614.005027
std             24302.352403                  12671.487487
min                 0.010000                      1.100000
25%               148.797500                    125.070000
50%               974.400000                    714.860000
75%              4592.000000                   5782.430000
max            331304.280000                 157848.600000

       Aetna-Commercial HMO/POS  Aetna-Commercial PPO/Open Access  \
count               1827.000000                       1612.000000
mean                4320.418248                       4436.188381
std                 8718.537182                       8881.733882
min                    0.020000                          0.500000
25%                  277.900000                        312.750000
50%                 2153.000000                       2153.000000
75%                 4822.000000                       4822.000000
max                99999.990000                      96372.570000

       Aetna-Commercial other  ...  Optum-Commercial other  \
count              128.000000  ...              943.000000
mean              1703.756250  ...            10868.205705
std               5124.232802  ...            20703.429246
min                  0.590000  ...                2.370000
25%                110.387500  ...              200.450000
50%                404.500000  ...             1700.200000
75%               1778.920000  ...            13359.895000
max              54838.130000  ...           277267.380000

       Oxford-Commercial other  Oxford-Commercial HMO/POS  \
count              1777.000000                        0.0
mean               2572.653849                        NaN
std                4036.667401                        NaN
min                   0.010000                        NaN
25%                 197.880000                        NaN
50%                1932.380000                        NaN
75%                4704.000000                        NaN
max               80891.260000                        NaN

       Tricare-Commercial other  United Healthcare-Commercial other  \
count                434.000000                         2357.000000
mean                2070.212120                         5977.464298
std                 8501.228677                        16227.981498
min                    1.000000                            0.010000
25%                   71.220000                          258.500000
50%                  236.230000                         1571.000000
75%                 1486.947500                         5127.000000
max               154940.610000                       291490.750000

       United Healthcare-Medicare Advantage HMO  \
count                                624.000000
mean                                4438.776234
std                                 9982.579323
min                                    1.330000
25%                                   96.290000
50%                                  387.500000
75%                                 3531.920000
max                                92493.910000

       United Healthcare-Commercial HMO/POS  United Healthcare-Medicaid HMO  \
count                            133.000000                     2065.000000
mean                            3261.594586                     2454.314228
std                            10266.478193                    11009.140577
min                                0.190000                        0.010000
25%                              129.000000                       42.980000
50%                              444.000000                      425.790000
75%                             2257.430000                     1753.100000
max                            88051.340000                   327869.690000

       United Healthcare-Commercial PPO/Open Access  \
count                                    357.000000
mean                                     789.416667
std                                     2880.486830
min                                        0.180000
25%                                        8.400000
50%                                       34.830000
75%                                      286.800000
max                                    26350.000000

       Veteran Family-Commercial other
count                        46.000000
mean                        702.261087
std                        1717.006016
min                           2.480000
25%                          26.810000
50%                          82.710000
75%                         235.000000
max                        7195.400000

[8 rows x 53 columns]
Summary Statistics for Dataset 2:
                 1  NDC  Revenue Code  Unnamed: 8
count  7757.000000  0.0   7756.000000         0.0
mean   3882.992265  NaN    271.522176         NaN
std    2239.410721  NaN      7.773495         NaN
min       2.000000  NaN    110.000000         NaN
25%    1944.000000  NaN    272.000000         NaN
50%    3883.000000  NaN    272.000000         NaN
75%    5822.000000  NaN    272.000000         NaN
max    7761.000000  NaN    361.000000         NaN

### Cleaning Data and Handling Missing Values

In [117]:
def clean_column_names(sbm):
    # Define a helper function to clean column names
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    # Rename columns using the helper function
    # This is using a list comprehend - e.g., we have a list to the right of the equals sign,
    # and inside the list, we are applying our function, for every col (or X) that exists in df.columns
    sbm.columns = [clean_name(col) for col in sbm.columns]
    return sbm

# Apply the clean_value function to all columns
sbm = clean_column_names(sbm)

sbm

,code,description,type,packagelinelevel,grosscharge,discountedcashprice,deidentifiedmincontractedrate,deidentifiedmaxcontractedrate,derivedcontractedrate,1199commercialother,...,optumcommercialother,oxfordcommercialother,oxfordcommercialhmopos,tricarecommercialother,unitedhealthcarecommercialother,unitedhealthcaremedicareadvantagehmo,unitedhealthcarecommercialhmopos,unitedhealthcaremedicaidhmo,unitedhealthcarecommercialppoopenaccess,veteranfamilycommercialother
0,10004,"FINE NEEDLE ASPIRATION BIOPSY, EACH ADDITIONAL...",Outpatient,Line,718.67,718.67,2155.50,2155.50,2155.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
2,10005,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Package,2061.25,2061.25,87.02,4782.00,2308.44,2411.0,...,NaN,4782.0,NaN,NaN,3845.25,NaN,NaN,658.94,NaN,NaN
3,10006,FINE NEEDLE ASPIRATION BIOPSY USING ULTRASOUND...,Outpatient,Line,728.54,728.54,58.55,1761.25,909.90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10009,FINE NEEDLE ASPIRATION BIOPSY OF GROWTH USING ...,Outpatient,Line,2823.01,2823.01,446.28,6017.59,4219.31,4592.0,...,NaN,NaN,NaN,NaN,5127.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7705,30981203,R&B SICU 09W1 ICR PT-Z,NaN,NaN,12090.00,12090.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7706,30993018,R&B TICR 09W2 - PT-I,NaN,NaN,13590.00,13590.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7707,33500000,R&B REV PICU 11S2 PT-X,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7708,30333058,ROPH HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7709,30000004,SEMI-PRIVATE,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
def clean_column_names(memorial):
    # Define a helper function to clean column names
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    # Rename columns using the helper function
    # This is using a list comprehend - e.g., we have a list to the right of the equals sign,
    # and inside the list, we are applying our function, for every col (or X) that exists in df.columns
    memorial.columns = [clean_name(col) for col in memorial.columns]
    return memorial

# Apply the clean_value function to all columns
memorial = clean_column_names(memorial)

memorial

,1,cdmgrosschargeandcashpaysection,procedurecode,proceduredescription,lawsonnumber,ndc,revenuecode,cptcode,unnamed8,defaultcharge,ercharge,inpatienttherapy,cashcharge
0,2,11000004,11000004,HC PRIVATE MOST COMMON,NaN,NaN,110.0,NaN,NaN,-,-,-,-
1,3,11000004,11000004,HC PRIVATE MOST COMMON MRHS,NaN,NaN,110.0,NaN,NaN,NaN,-,-,-
2,4,12000005,12000005,HC SEMI-PRIVATE OBSTETRICS,NaN,NaN,120.0,NaN,NaN,"2,445",-,-,978
3,5,12000005,12000005,HC SEMI-PRIVATE OBSTETRICS MRHS,NaN,NaN,120.0,NaN,NaN,NaN,-,-,-
4,6,12300001,12300001,HC SEMI-PRIVATE PEDS,NaN,NaN,123.0,NaN,NaN,"2,311",-,-,924
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7752,7757,27264245,27264245,DRESSING TEGADERM 6 X 8,NaN,NaN,272.0,NaN,NaN,-,-,-,-
7753,7758,27264248,27264248,DRUG HEMOSTATIC EVICEL L45 CM FLEXIBLE TIP,0900-06297,NaN,272.0,NaN,NaN,250,-,-,100
7754,7759,27264255,27264255,FILTER SUCTION PSI-TEC ABSOLUTE DISPOSABLE,0900-06306,NaN,272.0,NaN,NaN,255,-,-,102
7755,7760,27264263,27264263,CARTRIDGE GRASPER BABCOCK L45 CM OD5 MM DIRECT...,0900-06304,NaN,272.0,NaN,NaN,332,-,-,133
7756,7761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
print("Missing Values in Dataset 1:")
print(sbm.isnull().sum())

Missing Values in Dataset 1:
code                                          0
description                                   0
type                                        783
packagelinelevel                            783
grosscharge                                   0
discountedcashprice                           0
deidentifiedmincontractedrate              1456
deidentifiedmaxcontractedrate              1456
derivedcontractedrate                      1456
1199commercialother                        6696
aetnamedicareadvantagehmo                  6604
aetnacommercialhmopos                      5883
aetnacommercialppoopenaccess               6098
aetnacommercialother                       7582
empirehealthcommercialother                4650
empirehealthcommercialppoopenaccess        5308
bluecrossblueshieldcommercialother         6456
beaconhealthcommercialother                7707
carelonhealthcommercialother               7707
cignacommercialppoopenaccess               5744
cignacommercialother                       7667
cignacommercialhmopos                      7704
ehfacetcommercialother                     7710
emblemhealthcommercialppoopenaccess        6964
emblemhealthcommercialother                5640
emblemhealthcommercialhmopos               6324
emblemhealthmedicaidhmo                    7710
emblemhealthmedicareadvantagehmo           7710
empirehealthcommercialhmopos               6031
empirehealthmedicareadvantagehmo           6636
empirehealthmedicaidhmo                    7708
evernorthcommercialother                   7702
fideliscommercialother                     6790
fidelismedicareadvantagehmo                7442
fidelismedicaidhmo                         5353
ghicommercialother                         7710
healthfirstcommercialother                 5634
healthfirstmedicareadvantagehmo            7608
healthfirstmedicaidhmo                     7710
healthplushpmedicaidhmo                    6920
healthplushpcommercialother                7413
healthplushpmedicareadvantagehmo           7005
humanacommercialother                      7677
humanacommercialhmopos                     7463
humanacommercialppoopenaccess              7236
meritainhealthcommercialother              7260
molinacommercialother                      6963
optumcommercialother                       6767
oxfordcommercialother                      5933
oxfordcommercialhmopos                     7710
tricarecommercialother                     7276
unitedhealthcarecommercialother            5353
unitedhealthcaremedicareadvantagehmo       7086
unitedhealthcarecommercialhmopos           7577
unitedhealthcaremedicaidhmo                5645
unitedhealthcarecommercialppoopenaccess    7353
veteranfamilycommercialother               7664
dtype: int64

In [120]:
print("Missing Values in Dataset 2:")
print(memorial.isnull().sum())

Missing Values in Dataset 2:
1                                     0
cdmgrosschargeandcashpaysection       1
procedurecode                         1
proceduredescription                  1
lawsonnumber                       1527
ndc                                7757
revenuecode                           1
cptcode                            7591
unnamed8                           7757
defaultcharge                        15
ercharge                              1
inpatienttherapy                      1
cashcharge                            1
dtype: int64

### Basic Statistics SBM

In [121]:
# Example: Frequency counts for a categorical column 'description' in Dataset 1
print("Frequency Counts for 'description' in Dataset 1:")
print(sbm['description'].value_counts())

Frequency Counts for 'description' in Dataset 1:
R&B MED 05CA SEMI-PRIVATE/2                                                                   3
R&B SHA 05PS/11PS SEMI-PRIVATE                                                                3
DESTRUCTION OF FIRST DIVISION OF FACE NERVE BRANCH                                            2
INJECTION OF CHEMICAL FOR PARALYSIS OF SALIVARY GLANDS ON BOTH SIDES OF MOUTH                 2
INJECTION OF CHEMICAL FOR PARALYSIS OF FACIAL AND NECK NERVE MUSCLES ON BOTH SIDES OF FACE    2
                                                                                             ..
ANCHOR/SCREW FOR OPPOSING BONE-TO-BONE OR SOFT TISSUE-TO-BONE (IMPLANTABLE)                   1
BRACHYTHERAPY NEEDLE                                                                          1
CARDIOVERTER-DEFIBRILLATOR, DUAL CHAMBER (IMPLANTABLE)                                        1
CARDIOVERTER-DEFIBRILLATOR, SINGLE CHAMBER (IMPLANTABLE)                                      1
SEMI-PRIVATE                                                                                  1
Name: description, Length: 5449, dtype: int64

In [122]:
# List of numerical columns to calculate measures of central tendency, measures of variability (spread), and frequency distribution
numerical_columns = [
    "grosscharge",
    "discountedcashprice",
    "deidentifiedmincontractedrate",
    "deidentifiedmaxcontractedrate",
    "derivedcontractedrate",
    "1199commercialother",
    "aetnamedicareadvantagehmo",
    "aetnacommercialhmopos",
    "aetnacommercialppoopenaccess",
    "aetnacommercialother",
    "empirehealthcommercialother",
    "empirehealthcommercialppoopenaccess",
    "bluecrossblueshieldcommercialother",
    "beaconhealthcommercialother",
    "carelonhealthcommercialother",
    "cignacommercialppoopenaccess",
    "cignacommercialother",
    "cignacommercialhmopos",
    "ehfacetcommercialother",
    "emblemhealthcommercialppoopenaccess",
    "emblemhealthcommercialother",
    "emblemhealthcommercialhmopos",
    "emblemhealthmedicaidhmo",
    "emblemhealthmedicareadvantagehmo",
    "empirehealthcommercialhmopos",
]

analysis_results = {}
for column in numerical_columns:
    mean = sbm[column].mean()
    median = sbm[column].median()
    mode = sbm[column].mode()
    std_dev = sbm[column].std()
    min_value = sbm[column].min()
    max_value = sbm[column].max()

    # Calculate frequency distribution
    frequency_distribution = sbm[column].value_counts().reset_index()
    frequency_distribution.columns = [column, "Frequency"]

    analysis_results[column] = {
        "Mean": mean,
        "Median": median,
        "Mode": mode,
        "Standard Deviation": std_dev,
        "Min Value": min_value,
        "Max Value": max_value,
        "Frequency Distribution": frequency_distribution
    }

# Display the analysis results
for column, results in analysis_results.items():
    print(f"Analysis for column: {column}")
    print(results)
    print("\n")

Analysis for column: grosscharge
{'Mean': 22748.319448767834, 'Median': 4745.295, 'Mode': 0    8165.0
Name: grosscharge, dtype: float64, 'Standard Deviation': 74705.70326611007, 'Min Value': 0.03, 'Max Value': 1857952.44, 'Frequency Distribution':       grosscharge  Frequency
0         8165.00        268
1        12090.00         70
2        13590.00         63
3         8965.00         47
4          513.00         13
...           ...        ...
5866      6453.95          1
5867      3727.11          1
5868      2284.63          1
5869     18455.69          1
5870      4580.00          1

[5871 rows x 2 columns]}


Analysis for column: discountedcashprice
{'Mean': 22748.319448767834, 'Median': 4745.295, 'Mode': 0    8165.0
Name: discountedcashprice, dtype: float64, 'Standard Deviation': 74705.70326611007, 'Min Value': 0.03, 'Max Value': 1857952.44, 'Frequency Distribution':       discountedcashprice  Frequency
0                 8165.00        268
1                12090.00         70
2                13590.00         63
3                 8965.00         47
4                  513.00         13
...                   ...        ...
5866              6453.95          1
5867              3727.11          1
5868              2284.63          1
5869             18455.69          1
5870              4580.00          1

[5871 rows x 2 columns]}


Analysis for column: deidentifiedmincontractedrate
{'Mean': 4090.6938759194118, 'Median': 1108.86, 'Mode': 0    6050.0
Name: deidentifiedmincontractedrate, dtype: float64, 'Standard Deviation': 10576.213503051098, 'Min Value': 0.01, 'Max Value': 327869.69, 'Frequency Distribution':       deidentifiedmincontractedrate  Frequency
0                           6050.00         49
1                           4822.00         47
2                           7564.00         43
3                           4704.00         39
4                           2411.00         37
...                             ...        ...
3171                        3031.43          1
3172                         180.20          1
3173                         307.40          1
3174                         740.64          1
3175                        9975.88          1

[3176 rows x 2 columns]}


Analysis for column: deidentifiedmaxcontractedrate
{'Mean': 10035.793743204349, 'Median': 4311.0, 'Mode': 0    6050.0
Name: deidentifiedmaxcontractedrate, dtype: float64, 'Standard Deviation': 29150.748069118712, 'Min Value': 0.1, 'Max Value': 1302635.53, 'Frequency Distribution':       deidentifiedmaxcontractedrate  Frequency
0                           6050.00        240
1                           7564.00        193
2                           8774.00        105
3                           4822.00         80
4                          10285.00         68
...                             ...        ...
3115                         254.50          1
3116                         172.90          1
3117                         393.00          1
3118                         298.50          1
3119                        9975.88          1

[3120 rows x 2 columns]}


Analysis for column: derivedcontractedrate
{'Mean': 6315.58772465622, 'Median': 2600.74, 'Mode': 0    6050.0
Name: derivedcontractedrate, dtype: float64, 'Standard Deviation': 14601.846405591405, 'Min Value': 0.03, 'Max Value': 370099.9, 'Frequency Distribution':       derivedcontractedrate  Frequency
0                   6050.00         49
1                   7564.00         43
2                   4822.00         27
3                   8774.00         24
4                   2411.00         20
...                     ...        ...
3899                 167.49          1
3900                  39.17          1
3901                  14.49          1
3902                  52.70          1
3903                9975.88          1

[3904 rows x 2 columns]}


Analysis for column: 1199commercialother
{'Mean': 5791.542455621302, 'Median': 974.4, 'Mode': 0    4822.0
Name: 1199commercialother, dtype: float64, 'Standard Deviation': 24302.352403298733, 'Min Value': 0.01, 'Max Value': 331304.28, 'Frequency Distribution':      1199commercialother  Frequency
0                4822.00        104
1                2411.00         36
2                2153.00         36
3                4592.00         27
4                3923.00         19
..                   ...        ...
563               221.63          1
564                14.40          1
565               185.40          1
566               157.20          1
567             42565.43          1

[568 rows x 2 columns]}


Analysis for column: aetnamedicareadvantagehmo
{'Mean': 5614.005027124774, 'Median': 714.86, 'Mode': 0    125.07
Name: aetnamedicareadvantagehmo, dtype: float64, 'Standard Deviation': 12671.487486637086, 'Min Value': 1.1, 'Max Value': 157848.6, 'Frequency Distribution':      aetnamedicareadvantagehmo  Frequency
0                       125.07         24
1                        92.92         16
2                       205.20         10
3                       433.04         10
4                      5068.23         10
..                         ...        ...
609                      33.20          1
610                      38.40          1
611                       8.17          1
612                      25.49          1
613                   20459.29          1

[614 rows x 2 columns]}


Analysis for column: aetnacommercialhmopos
{'Mean': 4320.4182484948005, 'Median': 2153.0, 'Mode': 0    4822.0
Name: aetnacommercialhmopos, dtype: float64, 'Standard Deviation': 8718.537181934185, 'Min Value': 0.02, 'Max Value': 99999.99, 'Frequency Distribution':      aetnacommercialhmopos  Frequency
0                  4822.00        200
1                  2411.00         69
2                  2153.00         61
3                  2296.00         30
4                  4592.00         28
..                     ...        ...
956                 167.37          1
957                 176.05          1
958                 235.97          1
959                  93.00          1
960               13351.39          1

[961 rows x 2 columns]}


Analysis for column: aetnacommercialppoopenaccess
{'Mean': 4436.1883808933, 'Median': 2153.0, 'Mode': 0    4822.0
Name: aetnacommercialppoopenaccess, dtype: float64, 'Standard Deviation': 8881.73388173887, 'Min Value': 0.5, 'Max Value': 96372.57, 'Frequency Distribution':      aetnacommercialppoopenaccess  Frequency
0                         4822.00        161
1                         2153.00         67
2                         2411.00         64
3                         4592.00         30
4                         8603.00         27
..                            ...        ...
859                        239.00          1
860                        600.00          1
861                        609.00          1
862                        142.80          1
863                      58283.81          1

[864 rows x 2 columns]}


Analysis for column: aetnacommercialother
{'Mean': 1703.75625, 'Median': 404.5, 'Mode': 0    2153.0
1    4822.0
Name: aetnacommercialother, dtype: float64, 'Standard Deviation': 5124.232801574984, 'Min Value': 0.59, 'Max Value': 54838.13, 'Frequency Distribution':     aetnacommercialother  Frequency
0                2153.00          4
1                4822.00          4
2                1778.92          2
3                 984.74          2
4                1599.00          2
..                   ...        ...
84                124.75          1
85                 18.75          1
86                185.40          1
87                 86.40          1
88                  9.83          1

[89 rows x 2 columns]}


Analysis for column: empirehealthcommercialother
{'Mean': 4628.553777777777, 'Median': 3077.7650000000003, 'Mode': 0    6050.0
Name: empirehealthcommercialother, dtype: float64, 'Standard Deviation': 9673.666490554459, 'Min Value': 0.01, 'Max Value': 295323.69, 'Frequency Distribution':       empirehealthcommercialother  Frequency
0                         6050.00        155
1                         7564.00        103
2                         8774.00         67
3                        10588.00         64
4                         5755.00         47
...                           ...        ...
1255                       116.09          1
1256                        46.72          1
1257                        29.50          1
1258                        42.00          1
1259                     80165.48          1

[1260 rows x 2 columns]}


Analysis for column: empirehealthcommercialppoopenaccess
{'Mean': 4591.571769358868, 'Median': 2155.5, 'Mode': 0    6050.0
Name: empirehealthcommercialppoopenaccess, dtype: float64, 'Standard Deviation': 11464.716897986147, 'Min Value': 0.01, 'Max Value': 228584.17, 'Frequency Distribution':       empirehealthcommercialppoopenaccess  Frequency
0                                 6050.00        130
1                                 7564.00        103
2                                  150.00         65
3                                 8774.00         54
4                                 4311.00         41
...                                   ...        ...
1007                                18.58          1
1008                                 3.13          1
1009                               124.03          1
1010                                85.38          1
1011                            117757.92          1

[1012 rows x 2 columns]}


Analysis for column: bluecrossblueshieldcommercialother
{'Mean': 3233.192216905901, 'Median': 1025.25, 'Mode': 0    7564.0
Name: bluecrossblueshieldcommercialother, dtype: float64, 'Standard Deviation': 6200.542976624903, 'Min Value': 0.67, 'Max Value': 68896.0, 'Frequency Distribution':      bluecrossblueshieldcommercialother  Frequency
0                               7564.00         39
1                               6050.00         36
2                               5755.00         19
3                               3025.00         17
4                               8774.00         16
..                                  ...        ...
625                              138.00          1
626                              199.00          1
627                              173.50          1
628                              191.00          1
629                               27.29          1

[630 rows x 2 columns]}


Analysis for column: beaconhealthcommercialother
{'Mean': 488.37000000000006, 'Median': 86.95, 'Mode': 0    86.95
Name: beaconhealthcommercialother, dtype: float64, 'Standard Deviation': 695.2798351742987, 'Min Value': 86.95, 'Max Value': 1291.21, 'Frequency Distribution':    beaconhealthcommercialother  Frequency
0                        86.95          2
1                      1291.21          1}


Analysis for column: carelonhealthcommercialother
{'Mean': 1311.8766666666668, 'Median': 1360.71, 'Mode': 0    1360.71
Name: carelonhealthcommercialother, dtype: float64, 'Standard Deviation': 84.58181443628017, 'Min Value': 1214.21, 'Max Value': 1360.71, 'Frequency Distribution':    carelonhealthcommercialother  Frequency
0                       1360.71          2
1                       1214.21          1}


Analysis for column: cignacommercialppoopenaccess
{'Mean': 3554.505940996948, 'Median': 953.5, 'Mode': 0    5241.41
Name: cignacommercialppoopenaccess, dtype: float64, 'Standard Deviation': 12512.714658010518, 'Min Value': 0.02, 'Max Value': 291226.17, 'Frequency Distribution':       cignacommercialppoopenaccess  Frequency
0                          5241.41        140
1                          2620.71         27
2                          4781.00         22
3                          1346.00         14
4                         12375.03         14
...                            ...        ...
1135                          6.37          1
1136                          7.01          1
1137                         79.50          1
1138                        292.34          1
1139                      35508.72          1

[1140 rows x 2 columns]}


Analysis for column: cignacommercialother
{'Mean': 1462.8437209302326, 'Median': 904.95, 'Mode': 0    1654.0
Name: cignacommercialother, dtype: float64, 'Standard Deviation': 2042.4120364062812, 'Min Value': 0.87, 'Max Value': 9047.35, 'Frequency Distribution':     cignacommercialother  Frequency
0                1654.00          6
1                1346.00          4
2                4781.00          2
3                 266.66          2
4                1676.36          2
5                 904.95          2
6                 208.44          2
7                 586.53          2
8                 602.15          2
9                  42.08          1
10                  2.94          1
11               3259.77          1
12               9047.35          1
13               9010.39          1
14                 41.11          1
15                123.33          1
16                  3.68          1
17                  3.31          1
18               1422.22          1
19                  0.87          1
20                218.89          1
21                208.30          1
22                971.86          1
23                757.70          1
24                959.57          1
25                 94.79          1
26                106.03          1
27               3267.91          1}


Analysis for column: cignacommercialhmopos
{'Mean': 4857.191666666667, 'Median': 833.835, 'Mode': 0    1654.0
Name: cignacommercialhmopos, dtype: float64, 'Standard Deviation': 10297.591198728793, 'Min Value': 2.97, 'Max Value': 25812.48, 'Frequency Distribution':    cignacommercialhmopos  Frequency
0                1654.00          2
1                  13.67          1
2                   6.03          1
3                   2.97          1
4               25812.48          1}


Analysis for column: ehfacetcommercialother
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: ehfacetcommercialother, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [ehfacetcommercialother, Frequency]
Index: []}


Analysis for column: emblemhealthcommercialppoopenaccess
{'Mean': 1158.3015951742627, 'Median': 441.73, 'Mode': 0    1791.35
Name: emblemhealthcommercialppoopenaccess, dtype: float64, 'Standard Deviation': 1853.4005673492366, 'Min Value': 3.51, 'Max Value': 10766.54, 'Frequency Distribution':      emblemhealthcommercialppoopenaccess  Frequency
0                                1791.35         10
1                                6017.59          6
2                                 671.81          5
3                                  12.28          5
4                                  71.92          5
..                                   ...        ...
481                                90.69          1
482                               148.22          1
483                               131.56          1
484                               134.77          1
485                                47.36          1

[486 rows x 2 columns]}


Analysis for column: emblemhealthcommercialother
{'Mean': 4666.748579710145, 'Median': 759.36, 'Mode': 0    1648.66
Name: emblemhealthcommercialother, dtype: float64, 'Standard Deviation': 12229.509842188418, 'Min Value': 0.46, 'Max Value': 218814.12, 'Frequency Distribution':       emblemhealthcommercialother  Frequency
0                         1648.66         14
1                           94.78         12
2                         3629.56         10
3                         2057.46         10
4                         3074.25         10
...                           ...        ...
1274                       238.35          1
1275                       193.70          1
1276                       162.06          1
1277                       502.79          1
1278                     13583.04          1

[1279 rows x 2 columns]}


Analysis for column: emblemhealthcommercialhmopos
{'Mean': 9933.49398989899, 'Median': 2239.2200000000003, 'Mode': 0    6017.59
Name: emblemhealthcommercialhmopos, dtype: float64, 'Standard Deviation': 44093.86738100309, 'Min Value': 2.91, 'Max Value': 1302635.53, 'Frequency Distribution':      emblemhealthcommercialhmopos  Frequency
0                         6017.59        165
1                         1920.72         71
2                         4514.56         36
3                         3008.80         34
4                          309.16         25
..                            ...        ...
702                        128.92          1
703                        260.48          1
704                        214.81          1
705                        186.52          1
706                      66020.85          1

[707 rows x 2 columns]}


Analysis for column: emblemhealthmedicaidhmo
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: emblemhealthmedicaidhmo, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [emblemhealthmedicaidhmo, Frequency]
Index: []}


Analysis for column: emblemhealthmedicareadvantagehmo
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: emblemhealthmedicareadvantagehmo, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [emblemhealthmedicareadvantagehmo, Frequency]
Index: []}


Analysis for column: empirehealthcommercialhmopos
{'Mean': 3486.444449076832, 'Median': 1957.67, 'Mode': 0    5270.0
Name: empirehealthcommercialhmopos, dtype: float64, 'Standard Deviation': 5821.691580876274, 'Min Value': 0.05, 'Max Value': 106563.0, 'Frequency Distribution':      empirehealthcommercialhmopos  Frequency
0                         5270.00         46
1                         6590.00         41
2                         5154.00         40
3                          100.00         40
4                         7642.00         23
..                            ...        ...
788                        133.00          1
789                         81.50          1
790                         69.59          1
791                         47.20          1
792                     106563.00          1

[793 rows x 2 columns]}

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [123]:
# List of numerical columns to calculate measures of central tendency, measures of variability (spread), and frequency distribution
numerical_columns = [
    "empirehealthmedicareadvantagehmo",
    "empirehealthmedicaidhmo",
    "evernorthcommercialother",
    "fideliscommercialother",
    "fidelismedicareadvantagehmo",
    "fidelismedicaidhmo",
    "ghicommercialother",
    "healthfirstcommercialother",
    "healthfirstmedicareadvantagehmo",
    "healthfirstmedicaidhmo",
    "healthplushpmedicaidhmo",
    "healthplushpcommercialother",
    "healthplushpmedicareadvantagehmo",
    "humanacommercialother",
    "humanacommercialhmopos",
    "humanacommercialppoopenaccess",
    "meritainhealthcommercialother",
    "molinacommercialother",
    "optumcommercialother",
    "oxfordcommercialother",
    "oxfordcommercialhmopos",
    "tricarecommercialother",
    "unitedhealthcarecommercialother",
    "unitedhealthcaremedicareadvantagehmo",
    "unitedhealthcarecommercialhmopos",
    "unitedhealthcaremedicaidhmo",
    "unitedhealthcarecommercialppoopenaccess",
    "veteranfamilycommercialother",
]
analysis_results = {}
for column in numerical_columns:
    mean = sbm[column].mean()
    median = sbm[column].median()
    mode = sbm[column].mode()
    std_dev = sbm[column].std()
    min_value = sbm[column].min()
    max_value = sbm[column].max()

    # Calculate frequency distribution
    frequency_distribution = sbm[column].value_counts().reset_index()
    frequency_distribution.columns = [column, "Frequency"]

    analysis_results[column] = {
        "Mean": mean,
        "Median": median,
        "Mode": mode,
        "Standard Deviation": std_dev,
        "Min Value": min_value,
        "Max Value": max_value,
        "Frequency Distribution": frequency_distribution
    }

# Display the analysis results
for column, results in analysis_results.items():
    print(f"Analysis for column: {column}")
    print(results)
    print("\n")

Analysis for column: empirehealthmedicareadvantagehmo
{'Mean': 5846.313677839851, 'Median': 570.35, 'Mode': 0    125.07
Name: empirehealthmedicareadvantagehmo, dtype: float64, 'Standard Deviation': 16323.424565825737, 'Min Value': 2.0, 'Max Value': 244532.32, 'Frequency Distribution':      empirehealthmedicareadvantagehmo  Frequency
0                              125.07         28
1                              264.33         14
2                              205.20         12
3                             1865.83         12
4                               92.92         10
..                                ...        ...
577                              4.27          1
578                              8.65          1
579                              8.41          1
580                              8.09          1
581                          22379.85          1

[582 rows x 2 columns]}


Analysis for column: empirehealthmedicaidhmo
{'Mean': 6943.79, 'Median': 6943.79, 'Mode': 0    6122.75
1    7764.83
Name: empirehealthmedicaidhmo, dtype: float64, 'Standard Deviation': 1161.1259032508058, 'Min Value': 6122.75, 'Max Value': 7764.83, 'Frequency Distribution':    empirehealthmedicaidhmo  Frequency
0                  6122.75          1
1                  7764.83          1}


Analysis for column: evernorthcommercialother
{'Mean': 133.245, 'Median': 138.10500000000002, 'Mode': 0     55.92
1    102.98
2    106.39
3    136.40
4    139.81
5    152.77
6    153.45
7    218.24
Name: evernorthcommercialother, dtype: float64, 'Standard Deviation': 47.3331472498019, 'Min Value': 55.92, 'Max Value': 218.24, 'Frequency Distribution':    evernorthcommercialother  Frequency
0                    139.81          1
1                    152.77          1
2                    153.45          1
3                    102.98          1
4                    218.24          1
5                    136.40          1
6                    106.39          1
7                     55.92          1}


Analysis for column: fideliscommercialother
{'Mean': 2462.66825, 'Median': 200.0, 'Mode': 0    300.0
Name: fideliscommercialother, dtype: float64, 'Standard Deviation': 11353.271761555527, 'Min Value': 0.01, 'Max Value': 234990.72, 'Frequency Distribution':      fideliscommercialother  Frequency
0                    300.00         44
1                    160.39         12
2                    125.07         12
3                     92.92         10
4                      4.00          9
..                      ...        ...
530                    9.71          1
531                    9.68          1
532                    6.87          1
533                    7.33          1
534                16038.97          1

[535 rows x 2 columns]}


Analysis for column: fidelismedicareadvantagehmo
{'Mean': 2978.5182835820897, 'Median': 218.3, 'Mode': 0    125.07
Name: fidelismedicareadvantagehmo, dtype: float64, 'Standard Deviation': 8895.942129581243, 'Min Value': 0.24, 'Max Value': 92657.95, 'Frequency Distribution':      fidelismedicareadvantagehmo  Frequency
0                         125.07          8
1                        5478.06          4
2                         264.33          4
3                         929.52          4
4                         423.03          4
..                           ...        ...
170                         3.95          1
171                         8.13          1
172                       141.87          1
173                        16.80          1
174                     15064.79          1

[175 rows x 2 columns]}


Analysis for column: fidelismedicaidhmo
{'Mean': 2825.5129953330506, 'Median': 397.64, 'Mode': 0     577.45
1    3311.64
Name: fidelismedicaidhmo, dtype: float64, 'Standard Deviation': 10839.752094407322, 'Min Value': 0.02, 'Max Value': 209821.77, 'Frequency Distribution':       fidelismedicaidhmo  Frequency
0                 577.45         24
1                3311.64         24
2                 125.07         22
3                1863.58         18
4                 789.20         16
...                  ...        ...
1255                8.78          1
1256               12.53          1
1257               18.54          1
1258                5.10          1
1259            75928.17          1

[1260 rows x 2 columns]}


Analysis for column: ghicommercialother
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: ghicommercialother, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [ghicommercialother, Frequency]
Index: []}


Analysis for column: healthfirstcommercialother
{'Mean': 2612.960409441233, 'Median': 94.25, 'Mode': 0     5.03
1    10.50
Name: healthfirstcommercialother, dtype: float64, 'Standard Deviation': 11423.487019779644, 'Min Value': 0.01, 'Max Value': 227290.36, 'Frequency Distribution':       healthfirstcommercialother  Frequency
0                           5.03         13
1                          10.50         13
2                           8.03         11
3                          12.50          9
4                           5.20          8
...                          ...        ...
1356                       58.55          1
1357                      113.18          1
1358                       20.26          1
1359                       15.45          1
1360                    24956.42          1

[1361 rows x 2 columns]}


Analysis for column: healthfirstmedicareadvantagehmo
{'Mean': 1456.2957843137256, 'Median': 181.025, 'Mode': 0    125.07
Name: healthfirstmedicareadvantagehmo, dtype: float64, 'Standard Deviation': 4066.843454655238, 'Min Value': 3.93, 'Max Value': 21082.28, 'Frequency Distribution':     healthfirstmedicareadvantagehmo  Frequency
0                            125.07          8
1                             54.03          2
2                            184.88          2
3                            237.95          2
4                            400.40          2
5                            205.20          2
6                            185.21          2
7                            235.00          2
8                             45.97          2
9                            180.99          2
10                            34.42          2
11                            45.73          2
12                            83.33          2
13                           150.89          2
14                           268.60          2
15                           515.74          2
16                          1373.70          2
17                           416.78          2
18                            34.79          2
19                            10.76          2
20                            42.96          2
21                           181.06          2
22                            36.90          2
23                            36.96          2
24                           167.75          2
25                           282.18          2
26                           507.47          2
27                           351.23          2
28                           276.94          2
29                            93.64          2
30                            92.92          2
31                           304.71          2
32                           349.91          2
33                            34.85          2
34                            37.39          2
35                            30.95          2
36                           220.94          2
37                            25.00          1
38                          9526.26          1
39                         15456.94          1
40                         21082.28          1
41                         14665.40          1
42                         10732.76          1
43                         10969.83          1
44                         17921.30          1
45                         14965.68          1
46                          7452.84          1
47                             9.92          1
48                            79.76          1
49                           394.24          1
50                           415.34          1
51                           259.59          1
52                           493.22          1
53                           311.51          1
54                            13.39          1
55                             3.93          1
56                             4.29          1
57                            51.31          1
58                          7280.56          1}


Analysis for column: healthfirstmedicaidhmo
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: healthfirstmedicaidhmo, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [healthfirstmedicaidhmo, Frequency]
Index: []}


Analysis for column: healthplushpmedicaidhmo
{'Mean': 1323.1368481012657, 'Median': 172.265, 'Mode': 0    6.83
Name: healthplushpmedicaidhmo, dtype: float64, 'Standard Deviation': 5977.69644935588, 'Min Value': 0.07, 'Max Value': 109959.2, 'Frequency Distribution':      healthplushpmedicaidhmo  Frequency
0                       6.83          8
1                      10.30          7
2                     429.25          7
3                      20.60          7
4                       8.50          6
..                       ...        ...
461                     6.88          1
462                     5.60          1
463                     3.50          1
464                     5.09          1
465                 13133.26          1

[466 rows x 2 columns]}


Analysis for column: healthplushpcommercialother
{'Mean': 3254.4240067340074, 'Median': 351.11, 'Mode': 0    84.15
Name: healthplushpcommercialother, dtype: float64, 'Standard Deviation': 12856.225629600223, 'Min Value': 0.91, 'Max Value': 130994.35, 'Frequency Distribution':      healthplushpcommercialother  Frequency
0                          84.15          5
1                          28.13          4
2                         582.66          4
3                         775.91          4
4                          18.07          3
..                           ...        ...
184                        34.12          1
185                         9.00          1
186                        16.50          1
187                        15.69          1
188                    130994.35          1

[189 rows x 2 columns]}


Analysis for column: healthplushpmedicareadvantagehmo
{'Mean': 3950.727574468085, 'Median': 332.13, 'Mode': 0    125.07
Name: healthplushpmedicareadvantagehmo, dtype: float64, 'Standard Deviation': 9389.345245092605, 'Min Value': 0.23, 'Max Value': 107880.18, 'Frequency Distribution':      healthplushpmedicareadvantagehmo  Frequency
0                              125.07         21
1                              126.75         10
2                              304.02          8
3                              332.13          8
4                              205.20          8
..                                ...        ...
398                              6.63          1
399                              8.07          1
400                              8.09          1
401                              7.48          1
402                          13940.60          1

[403 rows x 2 columns]}


Analysis for column: humanacommercialother
{'Mean': 563.7190909090909, 'Median': 125.07, 'Mode': 0      54.72
1     125.07
2     126.72
3     197.19
4     312.56
5     599.82
6     727.62
7     821.86
8    1634.00
Name: humanacommercialother, dtype: float64, 'Standard Deviation': 1511.6457210920892, 'Min Value': 14.89, 'Max Value': 8645.21, 'Frequency Distribution':     humanacommercialother  Frequency
0                  312.56          2
1                  125.07          2
2                  821.86          2
3                  599.82          2
4                   54.72          2
5                 1634.00          2
6                  727.62          2
7                  197.19          2
8                  126.72          2
9                   26.62          1
10                  25.00          1
11                  75.00          1
12                  39.32          1
13                 119.43          1
14                  43.38          1
15                  33.02          1
16                  79.66          1
17                  47.27          1
18                 124.66          1
19                  22.01          1
20                  29.79          1
21                  14.89          1
22                  78.35          1
23                8645.21          1}


Analysis for column: humanacommercialhmopos
{'Mean': 5689.721255060728, 'Median': 429.99, 'Mode': 0    125.07
Name: humanacommercialhmopos, dtype: float64, 'Standard Deviation': 11608.36878777592, 'Min Value': 1.21, 'Max Value': 83532.66, 'Frequency Distribution':      humanacommercialhmopos  Frequency
0                    125.07         10
1                    514.89          4
2                    429.99          4
3                    600.51          4
4                    205.20          4
..                      ...        ...
168                  119.43          1
169                  352.00          1
170                   53.61          1
171                    8.00          1
172                39617.19          1

[173 rows x 2 columns]}


Analysis for column: humanacommercialppoopenaccess
{'Mean': 6062.761350210972, 'Median': 398.18, 'Mode': 0    125.07
1    304.02
Name: humanacommercialppoopenaccess, dtype: float64, 'Standard Deviation': 14011.551387284419, 'Min Value': 2.37, 'Max Value': 119145.76, 'Frequency Distribution':      humanacommercialppoopenaccess  Frequency
0                           125.07         10
1                           304.02         10
2                           160.39          8
3                           264.33          6
4                           500.04          6
..                             ...        ...
310                          37.00          1
311                           2.87          1
312                           7.41          1
313                        1131.57          1
314                        9975.88          1

[315 rows x 2 columns]}


Analysis for column: meritainhealthcommercialother
{'Mean': 1309.2576222222224, 'Median': 434.36, 'Mode': 0    4822.0
Name: meritainhealthcommercialother, dtype: float64, 'Standard Deviation': 2080.960981960122, 'Min Value': 0.44, 'Max Value': 18550.0, 'Frequency Distribution':      meritainhealthcommercialother  Frequency
0                          4822.00         17
1                          2336.02          7
2                          2352.00          6
3                           574.00          5
4                          2153.00          4
..                             ...        ...
285                         164.40          1
286                        1680.00          1
287                         247.20          1
288                         274.20          1
289                          29.42          1

[290 rows x 2 columns]}


Analysis for column: molinacommercialother
{'Mean': 3018.3054618473893, 'Median': 291.53, 'Mode': 0    110.0
Name: molinacommercialother, dtype: float64, 'Standard Deviation': 10208.450568522792, 'Min Value': 0.24, 'Max Value': 152787.47, 'Frequency Distribution':      molinacommercialother  Frequency
0                   110.00         19
1                   577.45         10
2                   344.85         10
3                   528.83         10
4                   200.76          9
..                     ...        ...
418                  56.10          1
419                 196.62          1
420                  25.56          1
421                  81.96          1
422               45785.95          1

[423 rows x 2 columns]}


Analysis for column: optumcommercialother
{'Mean': 10868.205705196184, 'Median': 1700.2, 'Mode': 0    125.07
Name: optumcommercialother, dtype: float64, 'Standard Deviation': 20703.429246192038, 'Min Value': 2.37, 'Max Value': 277267.38, 'Frequency Distribution':      optumcommercialother  Frequency
0                  125.07         12
1                  423.03         10
2                 1865.83         10
3                11538.75         10
4                  132.47          8
..                    ...        ...
611              60963.56          1
612              46496.55          1
613              98612.49          1
614             120434.86          1
615              29781.15          1

[616 rows x 2 columns]}


Analysis for column: oxfordcommercialother
{'Mean': 2572.653849184018, 'Median': 1932.38, 'Mode': 0    4782.0
Name: oxfordcommercialother, dtype: float64, 'Standard Deviation': 4036.6674011557657, 'Min Value': 0.01, 'Max Value': 80891.26, 'Frequency Distribution':      oxfordcommercialother  Frequency
0                  4782.00        214
1                  4704.00        117
2                  2352.00         56
3                  2391.00         55
4                  2375.00         40
..                     ...        ...
759                 266.04          1
760                 121.04          1
761                  41.62          1
762                 221.00          1
763               14198.64          1

[764 rows x 2 columns]}


Analysis for column: oxfordcommercialhmopos
{'Mean': nan, 'Median': nan, 'Mode': Series([], Name: oxfordcommercialhmopos, dtype: float64), 'Standard Deviation': nan, 'Min Value': nan, 'Max Value': nan, 'Frequency Distribution': Empty DataFrame
Columns: [oxfordcommercialhmopos, Frequency]
Index: []}


Analysis for column: tricarecommercialother
{'Mean': 2070.2121198156683, 'Median': 236.23000000000002, 'Mode': 0    125.07
Name: tricarecommercialother, dtype: float64, 'Standard Deviation': 8501.228677425672, 'Min Value': 1.0, 'Max Value': 154940.61, 'Frequency Distribution':      tricarecommercialother  Frequency
0                    125.07         20
1                    304.02         14
2                     92.92         10
3                    264.33          6
4                   7195.40          6
..                      ...        ...
226                   17.54          1
227                   20.78          1
228                   11.16          1
229                    8.50          1
230                38965.62          1

[231 rows x 2 columns]}


Analysis for column: unitedhealthcarecommercialother
{'Mean': 5977.4642978362335, 'Median': 1571.0, 'Mode': 0    5127.0
Name: unitedhealthcarecommercialother, dtype: float64, 'Standard Deviation': 16227.981497623872, 'Min Value': 0.01, 'Max Value': 291490.75, 'Frequency Distribution':       unitedhealthcarecommercialother  Frequency
0                             5127.00        223
1                             4704.00         54
2                             2563.50         41
3                             2412.00         22
4                            10609.00         21
...                               ...        ...
1308                           389.25          1
1309                           699.75          1
1310                           192.21          1
1311                            86.01          1
1312                         13905.61          1

[1313 rows x 2 columns]}


Analysis for column: unitedhealthcaremedicareadvantagehmo
{'Mean': 4438.7762339743595, 'Median': 387.5, 'Mode': 0    125.07
Name: unitedhealthcaremedicareadvantagehmo, dtype: float64, 'Standard Deviation': 9982.579323478303, 'Min Value': 1.33, 'Max Value': 92493.91, 'Frequency Distribution':      unitedhealthcaremedicareadvantagehmo  Frequency
0                                  125.07         25
1                                   92.92         14
2                                  433.04          8
3                                 3531.92          8
4                                   71.22          8

/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.10/dist-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [124]:
sbm_grosscharge_mean = sbm['grosscharge'].mean()
sbm_grosscharge_median = sbm['grosscharge'].median()
sbm_grosscharge_mode = sbm['grosscharge'].mode().values[0]

In [125]:
sbm_grosscharge_range = sbm['grosscharge'].max() - sbm['grosscharge'].min()
sbm_grosscharge_var = sbm['grosscharge'].var()
sbm_grosscharge_std= sbm['grosscharge'].std()
sbm_grosscharge_iqr = sbm['grosscharge'].quantile(0.75) - sbm['grosscharge'].quantile(0.25)

In [126]:
print("Measures of Central Tendency:")
print(f"Mean: {sbm_grosscharge_mean}")
print(f"Median: {sbm_grosscharge_median}")
print(f"Mode: {sbm_grosscharge_mode}")
print("\nMeasures of Spread:")
print(f"Range: {sbm_grosscharge_range}")
print(f"Variance: {sbm_grosscharge_var}")
print(f"Standard Deviation: {sbm_grosscharge_std}")
print(f"IQR (Interquartile Range): {sbm_grosscharge_iqr}")

Measures of Central Tendency:
Mean: 22748.319448767834
Median: 4745.295
Mode: 8165.0

Measures of Spread:
Range: 1857952.41
Variance: 5580942100.484088
Standard Deviation: 74705.70326611007
IQR (Interquartile Range): 9972.9175

In [127]:
sbm_aetnacommercialhmopos_mean = sbm['aetnacommercialhmopos'].mean()


sbm_aetnacommercialhmopos_median = sbm['aetnacommercialhmopos'].median()


sbm_aetnacommercialhmopos_mode = sbm['aetnacommercialhmopos'].mode().values[0]


sbm_aetnacommercialhmopos_range = sbm['aetnacommercialhmopos'].max() - sbm['aetnacommercialhmopos'].min()
sbm_aetnacommercialhmopos_var = sbm['aetnacommercialhmopos'].var()
sbm_aetnacommercialhmopos_std= sbm['aetnacommercialhmopos'].std()
sbm_aetnacommercialhmopos_iqr = sbm['aetnacommercialhmopos'].quantile(0.75) - sbm['aetnacommercialhmopos'].quantile(0.25)


print("Measures of Central Tendency:")
print(f"Mean: {sbm_aetnacommercialhmopos_mean}")
print(f"Median: {sbm_aetnacommercialhmopos_median}")
print(f"Mode: {sbm_aetnacommercialhmopos_mode}")
print("\nMeasures of Spread:")
print(f"Range: {sbm_aetnacommercialhmopos_range}")
print(f"Variance: {sbm_aetnacommercialhmopos_var}")
print(f"Standard Deviation: {sbm_aetnacommercialhmopos_std}")
print(f"IQR (Interquartile Range): {sbm_aetnacommercialhmopos_iqr}")

Measures of Central Tendency:
Mean: 4320.4182484948005
Median: 2153.0
Mode: 4822.0

Measures of Spread:
Range: 99999.97
Variance: 76012890.5927689
Standard Deviation: 8718.537181934185
IQR (Interquartile Range): 4544.1

In [128]:
print (sbm['code'].value_counts())

73521       2
64600       2
64454       2
64461       2
64483       2
           ..
C1727       1
C1728       1
C1729       1
C1730       1
30000004    1
Name: code, Length: 5474, dtype: int64

In [129]:
print (sbm['description'].value_counts())

R&B MED 05CA SEMI-PRIVATE/2                                                                   3
R&B SHA 05PS/11PS SEMI-PRIVATE                                                                3
DESTRUCTION OF FIRST DIVISION OF FACE NERVE BRANCH                                            2
INJECTION OF CHEMICAL FOR PARALYSIS OF SALIVARY GLANDS ON BOTH SIDES OF MOUTH                 2
INJECTION OF CHEMICAL FOR PARALYSIS OF FACIAL AND NECK NERVE MUSCLES ON BOTH SIDES OF FACE    2
                                                                                             ..
ANCHOR/SCREW FOR OPPOSING BONE-TO-BONE OR SOFT TISSUE-TO-BONE (IMPLANTABLE)                   1
BRACHYTHERAPY NEEDLE                                                                          1
CARDIOVERTER-DEFIBRILLATOR, DUAL CHAMBER (IMPLANTABLE)                                        1
CARDIOVERTER-DEFIBRILLATOR, SINGLE CHAMBER (IMPLANTABLE)                                      1
SEMI-PRIVATE                                                                                  1
Name: description, Length: 5449, dtype: int64

In [130]:
print (sbm['type'].value_counts())

Outpatient    6041
Inpatient      886
Name: type, dtype: int64

In [131]:
print (sbm['packagelinelevel'].value_counts())

Line       4691
Package    2236
Name: packagelinelevel, dtype: int64

### Basic Statistics for Memorial

In [132]:
# Example: Frequency counts for a categorical column 'proceduredescription' in Dataset 2
print("Frequency Counts for 'proceduredescription' in Dataset 2:")
print(memorial['proceduredescription'].value_counts())

Frequency Counts for 'proceduredescription' in Dataset 2:
NO FULL DESCRIPTION AVAILABLE                                                       27
Venous Return Cannula Open Tip                                                       4
CATHETER BALLOON DILATATION ANGIOSCULPT NITINOL .014 IN L137 CM L20 MM OD6 FR OD     3
SUTURE NONABSORBABLE PROLENE 7-0 BV-1 L24 IN MONOFILAMENT DOUBLE ARM BLUE            3
CATHETER BALLOON DILATATION UROMAX ULTRA HYDROPLUS .038 IN L75 CM L4 CM OD5.8 FR     3
                                                                                    ..
CAST PASTEL PRINT 4YDX3IN FLASHCAST ELITE POLYESTER TAPE FIBERGLASS FREE RADIOLU     1
DRAPE 11X7IN 2 COMPARTMENT 2 ADHESIVE STRIP STERI-DRAPE TRANSPARENT PLASTIC STER     1
BANDAGE COMPRESSION ACE COTTON STANDARD L5 YD X W6 IN KNIT VELCRO ELASTIC DUAL S     1
CAP PROTECTIVE ORTHOPEDIC STERILE DISPOSABLE GREEN 1.6 MM PIN                        1
CARTRIDGE GRASPER BABCOCK L45 CM OD5 MM DIRECT DRIVE STERILE DISPOSABLE              1
Name: proceduredescription, Length: 7667, dtype: int64

In [135]:
import pandas as pd

# Assuming you have a DataFrame named 'memorial'
numerical_columns = [
    "defaultcharge",
    "ercharge",
    "inpatienttherapy",
    "cashcharge"
]

analysis_results = {}
for column in numerical_columns:
    # Convert the column to numeric, and handle non-numeric values by setting them to NaN
    memorial[column] = pd.to_numeric(memorial[column], errors='coerce')

    # Filter out NaN values and calculate statistics
    valid_values = memorial[column].dropna()

    mean = valid_values.mean()
    median = valid_values.median()
    mode = valid_values.mode()
    std_dev = valid_values.std()
    min_value = valid_values.min()
    max_value = valid_values.max()

    # Calculate frequency distribution for valid values
    frequency_distribution = valid_values.value_counts().reset_index()
    frequency_distribution.columns = [column, "Frequency"]

    analysis_results[column] = {
        "Mean": str(mean),
        "Median": str(median),
        "Mode": str(mode),
        "Standard Deviation": str(std_dev),
        "Min Value": str(min_value),
        "Max Value": str(max_value),
        "Frequency Distribution": frequency_distribution
    }

# Display the analysis results
for column, results in analysis_results.items():
    print(f"Analysis for column: {column}")
    for key, value in results.items():
        print(f"{key}: {value}")
    print("\n")

Analysis for column: defaultcharge
Mean: 403.16152495610737
Median: 344.0
Mode: 0    590.0
Name: defaultcharge, dtype: float64
Standard Deviation: 222.9506356691781
Min Value: 13.0
Max Value: 999.0
Frequency Distribution:      defaultcharge  Frequency
0            590.0        128
1            732.0         82
2            586.0         49
3            277.0         44
4            338.0         38
..             ...        ...
667          341.0          1
668          452.0          1
669          474.0          1
670          911.0          1
671          467.0          1

[672 rows x 2 columns]


Analysis for column: ercharge
Mean: 1.0
Median: 1.0
Mode: 0    1.0
Name: ercharge, dtype: float64
Standard Deviation: 0.0
Min Value: 1.0
Max Value: 1.0
Frequency Distribution:    ercharge  Frequency
0       1.0          6


Analysis for column: inpatienttherapy
Mean: 92.0
Median: 92.0
Mode: 0    92.0
Name: inpatienttherapy, dtype: float64
Standard Deviation: nan
Min Value: 92.0
Max Value: 92.0
Frequency Distribution:    inpatienttherapy  Frequency
0              92.0          1


Analysis for column: cashcharge
Mean: 209.26170737172305
Median: 157.0
Mode: 0    236.0
Name: cashcharge, dtype: float64
Standard Deviation: 170.0605715948251
Min Value: 5.0
Max Value: 997.0
Frequency Distribution:      cashcharge  Frequency
0         236.0        136
1         293.0         88
2          90.0         57
3         135.0         56
4         108.0         56
..          ...        ...
575       748.0          1
576       750.0          1
577       783.0          1
578       645.0          1
579       451.0          1

[580 rows x 2 columns]

In [137]:
memorial_defaultcharge_mean = memorial['defaultcharge'].mean()
memorial_defaultcharge_median = memorial['defaultcharge'].median()
memorial_defaultcharge_mode = memorial['defaultcharge'].mode().values[0]

In [142]:
memorial_defaultcharge_range = memorial['defaultcharge'].max() - memorial['defaultcharge'].min()
memorial_defaultcharge_var = memorial['defaultcharge'].var()
memorial_defaultcharge_std= memorial['defaultcharge'].std()
memorial_defaultcharge_iqr = memorial['defaultcharge'].quantile(0.75) - memorial['defaultcharge'].quantile(0.25)

In [143]:
print("Measures of Central Tendency:")
print(f"Mean: {memorial_defaultcharge_mean}")
print(f"Median: {memorial_defaultcharge_median}")
print(f"Mode: {memorial_defaultcharge_mode}")
print("\nMeasures of Spread:")
print(f"Range: {memorial_defaultcharge_range}")
print(f"Variance: {memorial_defaultcharge_var}")
print(f"Standard Deviation: {memorial_defaultcharge_std}")
print(f"IQR (Interquartile Range): {memorial_defaultcharge_iqr}")

Measures of Central Tendency:
Mean: 403.16152495610737
Median: 344.0
Mode: 590.0

Measures of Spread:
Range: 986.0
Variance: 49706.98594529058
Standard Deviation: 222.95063566917807
IQR (Interquartile Range): 359.0

In [145]:
print (memorial['cdmgrosschargeandcashpaysection'].value_counts())

11000004    2
16400002    2
12000005    2
20600006    2
20300001    2
           ..
27206680    1
27206679    1
27206677    1
27206676    1
27264263    1
Name: cdmgrosschargeandcashpaysection, Length: 7742, dtype: int64

In [146]:
print (memorial['procedurecode'].value_counts())

11000004    2
16400002    2
12000005    2
20600006    2
20300001    2
           ..
27206680    1
27206679    1
27206677    1
27206676    1
27264263    1
Name: procedurecode, Length: 7742, dtype: int64

In [147]:
print (memorial['proceduredescription'].value_counts())

NO FULL DESCRIPTION AVAILABLE                                                       27
Venous Return Cannula Open Tip                                                       4
CATHETER BALLOON DILATATION ANGIOSCULPT NITINOL .014 IN L137 CM L20 MM OD6 FR OD     3
SUTURE NONABSORBABLE PROLENE 7-0 BV-1 L24 IN MONOFILAMENT DOUBLE ARM BLUE            3
CATHETER BALLOON DILATATION UROMAX ULTRA HYDROPLUS .038 IN L75 CM L4 CM OD5.8 FR     3
                                                                                    ..
CAST PASTEL PRINT 4YDX3IN FLASHCAST ELITE POLYESTER TAPE FIBERGLASS FREE RADIOLU     1
DRAPE 11X7IN 2 COMPARTMENT 2 ADHESIVE STRIP STERI-DRAPE TRANSPARENT PLASTIC STER     1
BANDAGE COMPRESSION ACE COTTON STANDARD L5 YD X W6 IN KNIT VELCRO ELASTIC DUAL S     1
CAP PROTECTIVE ORTHOPEDIC STERILE DISPOSABLE GREEN 1.6 MM PIN                        1
CARTRIDGE GRASPER BABCOCK L45 CM OD5 MM DIRECT DRIVE STERILE DISPOSABLE              1
Name: proceduredescription, Length: 7667, dtype: int64

In [148]:
print (memorial['lawsonnumber'].value_counts())

0380-01180    1
0900-02119    1
0900-03780    1
0730-00007    1
3100-00041    1
             ..
1410-00098    1
2510-00193    1
2510-00188    1
0350-00026    1
0900-06304    1
Name: lawsonnumber, Length: 6230, dtype: int64

In [149]:
print (memorial['ndc'].value_counts())

Series([], Name: ndc, dtype: int64)

In [150]:
print (memorial['revenuecode'].value_counts())

272.0    7701
271.0      12
260.0       7
128.0       6
200.0       4
250.0       3
110.0       2
120.0       2
206.0       2
203.0       2
190.0       2
164.0       2
126.0       2
124.0       2
123.0       2
173.0       1
172.0       1
171.0       1
255.0       1
361.0       1
Name: revenuecode, dtype: int64

In [151]:
print (memorial['cptcode'].value_counts())

C1769    26
C1757    20
C1758    11
C1726    10
C1892    10
C1725     9
A6402     7
C1887     7
C1894     5
C1751     4
A6266     4
C1773     4
A4338     3
A6403     3
A4390     3
A5054     2
C1759     2
A4358     2
A4351     2
A6404     2
C1715     2
C1760     2
A6248     1
C1893     1
A6196     1
C1727     1
C1732     1
C1714     1
C2618     1
C1753     1
A9576     1
A4371     1
96377     1
96361     1
96365     1
96366     1
96367     1
96368     1
96369     1
A4310     1
96360     1
A4326     1
A4320     1
A4354     1
A4357     1
A6237     1
A6257     1
C1765     1
Name: cptcode, dtype: int64

In [152]:
print (memorial['unnamed8'].value_counts())

Series([], Name: unnamed8, dtype: int64)

## 2. SQLite Database Operations:

In [16]:
## Create a new blank database using sqlite3

conn = sqlite3.connect('costs.db')
c = conn.cursor()

In [17]:
## Create a new table called 'stonybrook' and load in the data from stonybrook_modified
## Manually create the schema based on the data types in stonybrook_modified

c.execute('''CREATE TABLE stonybrook
                (
                    [hospital_name] text,
                    [insurance_type] text,
                    [code] text,
                    [code_description] text,
                    [cost_negotiated] real,
                    [cost_minimum] real,
                    [cost_maximum] real
                )''')

conn.commit()

In [18]:
## Now print out the table names from the database to make sure it worked

c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')

for value in c.fetchall():
    print(value)

('stonybrook',)

In [19]:
## Now perform a Select * on the table to make sure it worked and it returns no values

c.execute('''SELECT * FROM stonybrook''')
print(c.fetchall())

[]

In [20]:
## Now perform the same query in pandas to make sure it worked

pd.read_sql('''SELECT * FROM stonybrook''', conn)

Empty DataFrame
Columns: [hospital_name, insurance_type, code, code_description, cost_negotiated, cost_minimum, cost_maximum]
Index: []